/** 
 * The style of the woocommerce compare products
 */
* {
    margin: 0;
    padding: 0;
}

body {

    
  font: 300 14px/1.75 'Raleway', Verdana, sans-serif;
    font-size: 13px;
    color: #6a6a6a;
    background: none !important;
}

/* =============================================
--------------  11. Compare Products ------------
==============================================*/

.compare-table {
  border:1px solid #e5e5e5;
  margin-bottom: 50px;
  
}

.compare-table th,
.compare-table td {
  border-right:1px solid #e5e5e5;
  padding:20px;
}

.compare-table.table > tbody > tr > td.table-title {
  padding:34px 28px !important;
  font-size:14px;
  font-weight: 600;
  color:#313131;
  text-transform: capitalize;
  vertical-align: middle;
}

.compare-table.table > tbody > tr.description-row > td.table-title {
  vertical-align: top;
}

.compare-table.table > tbody > tr > td {
  padding:23px 29px;
}

.compare-table.table > tbody > tr.filter-box-row > td {
  padding:23px 29px 13px;
}

.compare-table.table > tbody > tr.number-row > td {
  vertical-align: middle;
}

.compare-table tr:nth-child(2n)  {
  background-color: #fcfcfc;
}

.compare-table .product {
  text-align: left;
  margin-bottom: 0;
}

.compare-table .product-top {
  margin-bottom: 16px;
}

.compare-table .product-cats,
.compare-table .product-ratings {
  margin-bottom: 5px;
}

.compare-table .product-title {
  margin-bottom: 12px;
}
.filter-color-box{
  display: inline-block;
  width: 37px;
  height: 37px;
  margin: 0 5px 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.filter-color-container, .filter-size-container {
  font-size: 0;
}
h2.product-title a:hover,
h2.product-title a:focus {
    color:#ca1515;
}

.product-title {
  font: 600 15px/18px 'Raleway', Verdana, sans-serif;
  margin-bottom: 10px;
}
table td {
  border-right: 1px solid #e5e5e5;
}
h2, .h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.dataTables_wrapper{
margin-top:12px;
}
.product-price-container {
  font-size: 0;
  margin-top:12px;
}
h2.product-title {
  margin-top: 12px;
}
.product-old-price {
  text-decoration: line-through;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #989898;
}

.product-old-price + .product-price {
  margin-left: 8px;
}
.product {
  width: 262px;
  margin-left: 8px;
}

a.filter-color-box {
  margin-top: 8px;
}


.product-price {
  font-size: 18px;
  line-height: 24px;
  color: #ca1515;
  font-weight: 600;
}

.product-cats a {
  font: 500 10px/1.5 'Raleway', Verdana;
  color: #8b8b8b;
  text-transform: uppercase;
}


.filter-color-container .row  {
  margin-left: -6px;
  margin-right: -6px;
}
.filter-size-container .row{

margin-left: -6px;
  margin-right: -6px;
}

.filter-color-container .row,
.filter-size-container .row {
    margin-left:-6px;
    margin-right:-6px;
}

.product-details .filter-size-container,
.product-details .filter-color-container {
    margin-bottom:12px;
}

.filter-size-box {
  color: #4c4c4c;
  padding:12px !important;
  margin-left:12px !important;
  font: 12px/36px 'Raleway', Verdana;
  text-align: center;
  text-transform: uppercase;
}
.filter-size-box {
  border: 1px solid #d9d9d9;
}
.compare-table.table > tbody > tr > td {
  padding: 33px 39px;
  min-width: 182px;
}

@media (max-width: 768px) {

  .compare-table .product img {
    width:auto;
    max-width: 100%;
  }

  .table-responsive > .table > tbody > tr.description-row > td {
    max-width: 200px;
    white-space: normal !important;
  }
  
  .table-responsive > .table > tbody > tr.product-row > td {
    border-top:none;
  }

  .table-responsive .compare-table > tbody > tr > td:last-child {
    border-right:none;
  }

}

@media (min-width: 992px) {

  .compare-table.table > tbody > tr > td {
    padding:33px 39px;
    min-width: 182px;
  }

  .compare-table.table > tbody > tr.filter-box-row > td {
    padding:33px 39px 23px;
  }

}


/*asif*/
a.filter-size-box {
  padding: 12px;
  
  margin: 1px 2px 7px 7px;
}

/** Fixed Header Table Style */
/*!
* jquery.fixedHeaderTable. The jQuery fixedHeaderTable plugin
*
* Copyright (c) 2011 Mark Malek
* http://fixedheadertable.com
*
* Licensed under MIT
* http://www.opensource.org/licenses/mit-license.php
*
* http://docs.jquery.com/Plugins/Authoring
* jQuery authoring guidelines
*
* Launch  : October 2009
* Version : 1.3
* Released: May 9th, 2011
*
*
* all CSS sizing (width,height) is done in pixels (px)
*/

/* @group Reset */

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
    /* position */
    margin: 0;

    /* size */
    padding: 0;

    /* text */
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

.fht-table {
    /* appearance */
    border-collapse: collapse;
    border-spacing: 0;
}

/* @end */

/* @group Content */

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
    /* appearance */
    overflow: hidden;

    /* position */
    position: relative;
}

.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
    /* appearance */
    overflow: auto;
}

.fht-table-wrapper .fht-table .fht-cell {
    /* appearance */
    overflow: hidden;

    /* size */
    height: 1px;
}

.fht-table-wrapper .fht-fixed-column,
.fht-table-wrapper .fht-fixed-body {
    /* position */
    top: 0;
    left: 0;
    position: absolute;
}

.fht-table-wrapper .fht-fixed-column {
    /* position */
    z-index: 1;
}

/* custom */

table.compare-list {
    border-right: 5px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    border-top: 2px solid #f0f0f0;
    padding-bottom: 0px !important;
}
table.compare-list tr>th:last-child,
table.compare-list tr>td:last-child{
    border-right: none;
}
table.compare-list tr:last-child th,
table.compare-list tr:last-child td,
table.compare-list tr:last-child th,
table.compare-list tr:last-child td{
    border-bottom: none;
}
body table.dataTable tfoot th {
  border-top: none !important;
}
table.compare-list tr:last-child th {
    border-top: none;
}
.btn-cart , .added_to_cart {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  padding: 12px 21px 12px 57px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  font-weight: bold;
  background: #1f97ff;
  font-size: 14px;
  line-height: 1em;
  margin: 10px 0;
}
.added_to_cart{
    background-color: #282828;
    padding: 12px 21px;
    display: inline-block;
}
.added_to_cart:hover{
    background: #1f97ff;
}
.btn-small {
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
    padding: 12px 12px 12px 47px;
  color: #fff;
  display: inline-block;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  text-decoration: none;
  text-shadow: none;
  font-weight: normal;
  background-color: #282828;
  background-image: -moz-linear-gradient(top, #373737, #121212);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373737), to(#121212));
  background-image: -webkit-linear-gradient(top, #373737, #121212);
  background-image: -o-linear-gradient(top, #373737, #121212);
  background-image: linear-gradient(to bottom, #373737, #121212);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff373737', endColorstr='#ff121212', GradientType=0);
  font-size: 14px;
  line-height: 1em;
  font-family: 'Open Sans', sans-serif;
}

.btn-blue {
  color: #fff;
    font-weight: bold;
  background-color: #2498ff;
  background-image: -moz-linear-gradient(top, #2ba1ff, #198aff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ba1ff), to(#198aff));
  background-image: -webkit-linear-gradient(top, #2ba1ff, #198aff);
  background-image: -o-linear-gradient(top, #2ba1ff, #198aff);
  background-image: linear-gradient(to bottom, #2ba1ff, #198aff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ba1ff', endColorstr='#ff198aff', GradientType=0);
}

a.button:hover {
  color: #ffffff !important;
}

.btn-blue:hover{
  background: url(../img/bg-btn-slide-span.jpg) 0 0 repeat-x #000;
}


.v_price, .v_price span {
  color: #1f97ff!important;
  font-weight: bold;
  font-size: 16px;
}

tr.add-to-cart a.button-cart.btn-cart:before{
    left: 10px;
    font-family: FontAwesome;
    content: "\f07a";
    font-size: 28px;
    line-height: 38px;
    color: #fff;
    position: absolute;
    font-weight: normal;
    top: 0;
}
.btn{
display: inline-block;
}


.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn--wd {
    background-color: #536DFE;
    color: #FFF;
}
.btn--wd {
  text-decoration: none;
  padding: 12px 14px;
  font-size: 1.214em;
  line-height: 1em;
  height: auto;
  border-radius: 3px;
  vertical-align: top;
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition:  box-shadow 300ms 0s ease;
}
.btn--wd:hover,
.btn--wd:active,
.btn--wd.focus,
.btn--wd:focus {
  padding: 12px 14px;
}
.btn--wd:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.btn-custom  {
  color: #fff;
  background-color: #536DFE;
  border-color: #536DFE;
  display: inline-block;
    padding: 2px 4px;
    margin-top: 10px;
    float: right;
    font-style: normal;
    font-size: 10px;
}
.btn-custom:hover{
background-color:black;
color:white;
}


.btn.min-width-sm{
  min-width: 150px;
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}



span.hot {
    background-color: #2497ff;
    background-image: -moz-linear-gradient(top, #2ba0ff, #198aff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ba0ff), to(#198aff));
    background-image: -webkit-linear-gradient(top, #2ba0ff, #198aff);
    background-image: -o-linear-gradient(top, #2ba0ff, #198aff);
    background-image: linear-gradient(to bottom, #2ba0ff, #198aff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ba0ff', endColorstr='#ff198aff', GradientType=0);
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    color: #FFF;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 0 10px;
    text-transform:uppercase;
    margin-bottom: 5px;
}
div.flashlabel{
    padding: 0 5px;
    position: absolute;
}
div.flashlabel.top-right{
    right: 5px;
    top: 15px;
}
div.flashlabel.top-left{
    left: 5px;
    top: 15px;
}
div.flashlabel.bottom-right{
    right: 5px;
    bottom: 5px;
}
div.flashlabel.bottom-left{
    left: 5px;
    bottom: 5px;
}
div.flashlabel > .circle{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-top: -10px;
    margin-left: -5px;
    margin-bottom: 0px;
    padding: 10px;
}
span.hot_red{
    background-color: #eb3a00;
    background-image: -moz-linear-gradient(top, #eb3a00, #e52600);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb3a00), to(#e52600));
    background-image: -webkit-linear-gradient(top, #eb3a00, #e52600);
    background-image: -o-linear-gradient(top, #eb3a00, #e52600);
    background-image: linear-gradient(to bottom, #eb3a00, #e52600);
    background-repeat: repeat-x;
}
span.hot_yellow, span.sale_yellow{
    background-color: #ffcf00;
    background-image: -moz-linear-gradient(top, #ffcf00, #ffc100);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcf00), to(#ffc100));
    background-image: -webkit-linear-gradient(top, #ffcf00, #ffc100);
    background-image: -o-linear-gradient(top, #ffcf00, #ffc100);
    background-image: linear-gradient(to bottom, #ffcf00, #ffc100);
    background-repeat: repeat-x;
    color: #1b1b1b;
}
table.compare-list .yith-wcwl-add-to-wishlist {
    margin-top: 10px;
}
table.compare-list .yith-wcwl-add-to-wishlist a,
table.compare-list  a.woocommerce-review-link{
    color: #1b1b1b;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;

}
table.compare-list .yith-wcwl-add-to-wishlist a:before{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    content: "\f07c";
    margin-right: 5px;
}
table.compare-list .yith-wcwl-add-to-wishlist a.add_to_wishlist:before{
    content: "\f08a";
}
table.compare-list .yith-wcwl-add-to-wishlist a:hover,
table.compare-list  a.woocommerce-review-link:hover,
table.compare-list .remove td a:hover{
    color: #2497ff;
}
table.compare-list .woocommerce-product-rating .star-rating {
    display: inline-block;
    float: none;
    position: relative;
    margin: 0;
    top: 2px;
    overflow: hidden;
    height: 1em;
    width: 5.1em;
    line-height: 1em;
    font-size: 1em;
    font-family: "fontawesome";
}
hr{
    display: none;
}
table.compare-list .woocommerce-product-rating .star-rating::before {
    content: "\f006\f006\f006\f006\f006";
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    letter-spacing: 0.1em;
    letter-spacing: 0 \9;
}
table.compare-list .woocommerce-product-rating .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}
table.compare-list .woocommerce-product-rating .star-rating span::before {
    content: "\f005\f005\f005\f005\f005";
    top: 0;
    position: absolute;
    left: 0;
    letter-spacing: 0.1em;
    letter-spacing: 0\9;
    color: #ffcc00;
}
table.compare-list .rating>td,
table.compare-list .rating>th{
    padding: 7px 10px;
}
.rating {
    line-height: 1;
    margin: 2px 0 2px;
    text-align: center;
}
.txt-1 {
    font-size: 13px;
    line-height: 20px;
    color: #6a6a6a;
}
.yith-wcwl-add-to-wishlist .feedback{
    display: block;
}
/* @end */

.image-wrap>img.attachment-yith-woocompare-image{
width:100%  !important;
height:auto !important;

}

ins {
  text-decoration: none;
}

ins span.amount {
  color: #f55582;
  font-weight: 600;
  text-decoration: none;
}
span.amount,
del span.amount {
  color: #212121;
  font-weight: 400;
}

.DTFC_LeftHeadWrapper {
  display: none;
}

.dataTables_scrollHead {
  display: none;
}

