    @media (min-width:992px) {
        .menu,#menu-container {
            display:block;
        }
        #mobile-menu-btn {
            display:none;
        }
        .side-menu .header-search-container.header-simple-search, .side-menu .smenu, #side-menu-footer {
            display: block;
        }
        .side-menu {
            position: fixed;
            top: 0;
            bottom: 0;
            width: 300px;
            z-index: 1040;
            padding: 0 5px 0 0;
        }
        #header.header12 #header-inner {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1030;
            background-color: #fff;
        }
        #header.header12 #header-inner .welldone_nav_header_16{
            display : block;
        }
    }
    