@media only screen and (max-width: 980px)  {
    .vc_empty_space{
        display: none;
    }
    #privace-policy-top-info {
        height: 150px;
        margin-top: 70px;
    }
    #privace-policy-top-info h2 {
        margin-top: 10%;
    }
    #privacy-policy-text {
        padding-left: 3% !important;
    }
    #privacy-policy-text .text-small-margin-left {
        margin-left: 3% !important;
        margin-right: 3%!important;

    }
}