/*
Theme Name: welldone
Theme URI: http://support.ethemeuk.com/
Author: Etheme
Author URI: http://www.ethemeuk.com
Theme RTL Rules
created by eThemes*/

/*------------------------------------------------------------------
[1. Body]
*/

body {
    unicode-bidi: embed;
    direction: rtl;
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-left: 0;
    margin-right: 20px;
}
ul {
    padding-right: 15px;
}
ul li:before {
    left: auto;
}
body {
    text-align: right;
}
div {
    text-align: right;
}
/* default wp styles */

.alignnone {
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
img.alignleft {
    margin: 5px 20px 5px 0;
}
img.alignright {
    margin: 5px 0 5px 20px;
}
a img.alignleft {
    float: left;
}
a img.alignright {
    float: right;
}
a img.aligncenter {
    margin-right: auto;
    margin-left: auto;
}
.wp-caption.alignnone {
    margin: 5px 0 20px 20px;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.sticky-wrapper > #navbar .navbar-header {
    float: right;
}
/*=== Underscore styles for WP ===*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    float: right;
}

.main-navigation ul {
    padding-right: 0;
    padding-left: 0;
}

.main-navigation li {
    float: right;
}

.main-navigation ul ul {
    float: right;
    right: -999em;
    left: auto;
}

.main-navigation ul ul ul {
    right: -999em;
    left: auto;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    right: auto;
    left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    right: 100%;
    left: auto;
}

/* Small menu. */

@media screen and (min-width: 37.5em) {

}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: right;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: left;
    text-align: left;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */

.screen-reader-text:focus {
    right: 5px;
    left: auto;
}

/* Do not show the outline on the skip link target. */

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignright {
    float: right;
    margin-left: 1.5em;
    margin-right: auto;
}

.alignleft {
    float: left;
    margin-right: 1.5em;
    margin-left: auto;
}

.aligncenter {
    margin-right: auto;
    margin-left: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

/* Make sure select elements fit in widgets. */

/*Subscribe widget*/

.footer__subscribe .subscribe-form .es_caption {
    float: right;
    padding-left: 10px !important;
    padding-right: 0;
}

.footer__subscribe .subscribe-form #es_txt_email_pg {
    margin-left: 14px !important;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

/*.entry-content,*/

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* Older / Newer Posts Navigation (always hidden) */

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/* Make sure embeds and iframes fit their containers. */

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption img[class*="wp-image-"] {
    margin-right: auto;
    margin-left: auto;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.list-unstyled {
    padding-right: 0;
    padding-left: 0;
}

.list-inline {
    padding-right: 0;
    margin-right: -5px;
    padding-left: 0;
    margin-left: auto;
}

.list-inline > li {
    padding-right: 5px;
    padding-left: 5px;
}

dd {
    margin-right: 0;
    margin-left: auto;
}

@media (min-width: 768px) {

.list-inline > li {
    padding-right: 5px;
    padding-left: 5px;
}

dd {
    margin-right: 0;
    margin-left: auto;
}

}

blockquote {
    border-right: 5px solid #eeeeee;
    border-left: none;
}
.testimonials-text blockquote {
    border-right: none;
}

.blockquote-reverse,
blockquote.pull-left {
    padding-left: 15px;
    padding-right: 0;
    border-left: 5px solid #eeeeee;
    border-right: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}

.col-xs-pull-12 {
    left: 100%;
    right: auto;
}

.col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
}

.col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
}

.col-xs-pull-9 {
    left: 75%;
    right: auto;
}

.col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
}

.col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
}

.col-xs-pull-6 {
    left: 50%;
    right: auto;
}

.col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
}

.col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
}

.col-xs-pull-3 {
    left: 25%;
    right: auto;
}

.col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
}

.col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
}

.col-xs-pull-0 {
    left: auto;
    right: auto;
}

.col-xs-push-12 {
    right: 100%;
    left: auto;
}

.col-xs-push-11 {
    right: 91.66666667%;
    left: auto;
}

.col-xs-push-10 {
    right: 83.33333333%;
    left: auto;
}

.col-xs-push-9 {
    right: 75%;
    left: auto;
}

.col-xs-push-8 {
    right: 66.66666667%;
    left: auto;
}

.col-xs-push-7 {
    right: 58.33333333%;
    left: auto;
}

.col-xs-push-6 {
    right: 50%;
    left: auto;
}

.col-xs-push-5 {
    right: 41.66666667%;
    left: auto;
}

.col-xs-push-4 {
    right: 33.33333333%;
    left: auto;
}

.col-xs-push-3 {
    right: 25%;
    left: auto;
}

.col-xs-push-2 {
    right: 16.66666667%;
    left: auto;
}

.col-xs-push-1 {
    right: 8.33333333%;
    left: auto;
}

.col-xs-push-0 {
    right: auto;
    left: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: auto;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: auto;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: auto;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: auto;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.col-xs-offset-0 {
    margin-right: 0%;
    margin-left: auto;
}

@media (min-width: 768px) {

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}

.col-xs-pull-12 {
    left: 100%;
    right: auto;
}

.col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
}

.col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
}

.col-xs-pull-9 {
    left: 75%;
    right: auto;
}

.col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
}

.col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
}

.col-xs-pull-6 {
    left: 50%;
    right: auto;
}

.col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
}

.col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
}

.col-xs-pull-3 {
    left: 25%;
    right: auto;
}

.col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
}

.col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
}

.col-xs-pull-0 {
    left: auto;
    right: auto;
}

.col-xs-push-12 {
    right: 100%;
    left: auto;
}

.col-xs-push-11 {
    right: 91.66666667%;
    left: auto;
}

.col-xs-push-10 {
    right: 83.33333333%;
    left: auto;
}

.col-xs-push-9 {
    right: 75%;
    left: auto;
}

.col-xs-push-8 {
    right: 66.66666667%;
    left: auto;
}

.col-xs-push-7 {
    right: 58.33333333%;
    left: auto;
}

.col-xs-push-6 {
    right: 50%;
    left: auto;
}

.col-xs-push-5 {
    right: 41.66666667%;
    left: auto;
}

.col-xs-push-4 {
    right: 33.33333333%;
    left: auto;
}

.col-xs-push-3 {
    right: 25%;
    left: auto;
}

.col-xs-push-2 {
    right: 16.66666667%;
    left: auto;
}

.col-xs-push-1 {
    right: 8.33333333%;
    left: auto;
}

.col-xs-push-0 {
    right: auto;
    left: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: auto;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: auto;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: auto;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: auto;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.col-xs-offset-0 {
    margin-right: 0%;
    margin-left: auto;
}

}

@media (min-width: 992px) {

.col-xs-pull-12 {
    left: 100%;
    right: auto;
}

.col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
}

.col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
}

.col-xs-pull-9 {
    left: 75%;
    right: auto;
}

.col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
}

.col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
}

.col-xs-pull-6 {
    left: 50%;
    right: auto;
}

.col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
}

.col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
}

.col-xs-pull-3 {
    left: 25%;
    right: auto;
}

.col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
}

.col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
}

.col-xs-pull-0 {
    left: auto;
    right: auto;
}

.col-xs-push-12 {
    right: 100%;
    left: auto;
}

.col-xs-push-11 {
    right: 91.66666667%;
    left: auto;
}

.col-xs-push-10 {
    right: 83.33333333%;
    left: auto;
}

.col-xs-push-9 {
    right: 75%;
    left: auto;
}

.col-xs-push-8 {
    right: 66.66666667%;
    left: auto;
}

.col-xs-push-7 {
    right: 58.33333333%;
    left: auto;
}

.col-xs-push-6 {
    right: 50%;
    left: auto;
}

.col-xs-push-5 {
    right: 41.66666667%;
    left: auto;
}

.col-xs-push-4 {
    right: 33.33333333%;
    left: auto;
}

.col-xs-push-3 {
    right: 25%;
    left: auto;
}

.col-xs-push-2 {
    right: 16.66666667%;
    left: auto;
}

.col-xs-push-1 {
    right: 8.33333333%;
    left: auto;
}

.col-xs-push-0 {
    right: auto;
    left: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: auto;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: auto;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: auto;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: auto;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.col-xs-offset-0 {
    margin-right: 0%;
    margin-left: auto;
}
}
@media (min-width: 768px) {

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}

.col-xs-pull-12 {
    left: 100%;
    right: auto;
}

.col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
}

.col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
}

.col-xs-pull-9 {
    left: 75%;
    right: auto;
}

.col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
}

.col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
}

.col-xs-pull-6 {
    left: 50%;
    right: auto;
}

.col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
}

.col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
}

.col-xs-pull-3 {
    left: 25%;
    right: auto;
}

.col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
}

.col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
}

.col-xs-pull-0 {
    left: auto;
    right: auto;
}

.col-xs-push-12 {
    right: 100%;
    left: auto;
}

.col-xs-push-11 {
    right: 91.66666667%;
    left: auto;
}

.col-xs-push-10 {
    right: 83.33333333%;
    left: auto;
}

.col-xs-push-9 {
    right: 75%;
    left: auto;
}

.col-xs-push-8 {
    right: 66.66666667%;
    left: auto;
}

.col-xs-push-7 {
    right: 58.33333333%;
    left: auto;
}

.col-xs-push-6 {
    right: 50%;
    left: auto;
}

.col-xs-push-5 {
    right: 41.66666667%;
    left: auto;
}

.col-xs-push-4 {
    right: 33.33333333%;
    left: auto;
}

.col-xs-push-3 {
    right: 25%;
    left: auto;
}

.col-xs-push-2 {
    right: 16.66666667%;
    left: auto;
}

.col-xs-push-1 {
    right: 8.33333333%;
    left: auto;
}

.col-xs-push-0 {
    right: auto;
    left: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: auto;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: auto;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: auto;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: auto;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.col-xs-offset-0 {
    margin-right: 0%;
    margin-left: auto;
}

}



@media (min-width: 1200px) {

.col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
}

.col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
}

.col-xs-pull-9 {
    left: 75%;
    right: auto;
}

.col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
}

.col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
}

.col-xs-pull-6 {
    left: 50%;
    right: auto;
}

.col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
}

.col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
}

.col-xs-pull-3 {
    left: 25%;
    right: auto;
}

.col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
}

.col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
}

.col-xs-pull-0 {
    left: auto;
    right: auto;
}

.col-xs-push-12 {
    right: 100%;
    left: auto;
}

.col-xs-push-11 {
    right: 91.66666667%;
    left: auto;
}

.col-xs-push-10 {
    right: 83.33333333%;
    left: auto;
}

.col-xs-push-9 {
    right: 75%;
    left: auto;
}

.col-xs-push-8 {
    right: 66.66666667%;
    left: auto;
}

.col-xs-push-7 {
    right: 58.33333333%;
    left: auto;
}

.col-xs-push-6 {
    right: 50%;
    left: auto;
}

.col-xs-push-5 {
    right: 41.66666667%;
    left: auto;
}

.col-xs-push-4 {
    right: 33.33333333%;
    left: auto;
}

.col-xs-push-3 {
    right: 25%;
    left: auto;
}

.col-xs-push-2 {
    right: 16.66666667%;
    left: auto;
}

.col-xs-push-1 {
    right: 8.33333333%;
    left: auto;
}

.col-xs-push-0 {
    right: auto;
    left: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: auto;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: auto;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: auto;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: auto;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.col-xs-offset-0 {
    margin-right: 0%;
    margin-left: auto;
}
}

@media (min-width: 768px) {

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}

.col-xs-pull-12 {
    left: 100%;
    right: auto;
}

.col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
}

.col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
}

.col-xs-pull-9 {
    left: 75%;
    right: auto;
}

.col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
}

.col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
}

.col-xs-pull-6 {
    left: 50%;
    right: auto;
}

.col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
}

.col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
}

.col-xs-pull-3 {
    left: 25%;
    right: auto;
}

.col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
}

.col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
}

.col-xs-pull-0 {
    left: auto;
    right: auto;
}

.col-xs-push-12 {
    right: 100%;
    left: auto;
}

.col-xs-push-11 {
    right: 91.66666667%;
    left: auto;
}

.col-xs-push-10 {
    right: 83.33333333%;
    left: auto;
}

.col-xs-push-9 {
    right: 75%;
    left: auto;
}

.col-xs-push-8 {
    right: 66.66666667%;
    left: auto;
}

.col-xs-push-7 {
    right: 58.33333333%;
    left: auto;
}

.col-xs-push-6 {
    right: 50%;
    left: auto;
}

.col-xs-push-5 {
    right: 41.66666667%;
    left: auto;
}

.col-xs-push-4 {
    right: 33.33333333%;
    left: auto;
}

.col-xs-push-3 {
    right: 25%;
    left: auto;
}

.col-xs-push-2 {
    right: 16.66666667%;
    left: auto;
}

.col-xs-push-1 {
    right: 8.33333333%;
    left: auto;
}

.col-xs-push-0 {
    right: auto;
    left: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: auto;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: auto;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: auto;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: auto;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.col-xs-offset-0 {
    margin-right: 0%;
    margin-left: auto;
}

}

@media (min-width: 992px) {

.col-xs-pull-12 {
    left: 100%;
    right: auto;
}

.col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
}

.col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
}

.col-xs-pull-9 {
    left: 75%;
    right: auto;
}

.col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
}

.col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
}

.col-xs-pull-6 {
    left: 50%;
    right: auto;
}

.col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
}

.col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
}

.col-xs-pull-3 {
    left: 25%;
    right: auto;
}

.col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
}

.col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
}

.col-xs-pull-0 {
    left: auto;
    right: auto;
}

.col-xs-push-12 {
    right: 100%;
    left: auto;
}

.col-xs-push-11 {
    right: 91.66666667%;
    left: auto;
}

.col-xs-push-10 {
    right: 83.33333333%;
    left: auto;
}

.col-xs-push-9 {
    right: 75%;
    left: auto;
}

.col-xs-push-8 {
    right: 66.66666667%;
    left: auto;
}

.col-xs-push-7 {
    right: 58.33333333%;
    left: auto;
}

.col-xs-push-6 {
    right: 50%;
    left: auto;
}

.col-xs-push-5 {
    right: 41.66666667%;
    left: auto;
}

.col-xs-push-4 {
    right: 33.33333333%;
    left: auto;
}

.col-xs-push-3 {
    right: 25%;
    left: auto;
}

.col-xs-push-2 {
    right: 16.66666667%;
    left: auto;
}

.col-xs-push-1 {
    right: 8.33333333%;
    left: auto;
}

.col-xs-push-0 {
    right: auto;
    left: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: auto;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: auto;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: auto;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: auto;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.col-xs-offset-0 {
    margin-right: 0%;
    margin-left: auto;
}
}

@media (min-width: 768px) {

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}

.col-xs-pull-12 {
    left: 100%;
    right: auto;
}

.col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
}

.col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
}

.col-xs-pull-9 {
    left: 75%;
    right: auto;
}

.col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
}

.col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
}

.col-xs-pull-6 {
    left: 50%;
    right: auto;
}

.col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
}

.col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
}

.col-xs-pull-3 {
    left: 25%;
    right: auto;
}

.col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
}

.col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
}

.col-xs-pull-0 {
    left: auto;
    right: auto;
}

.col-xs-push-12 {
    right: 100%;
    left: auto;
}

.col-xs-push-11 {
    right: 91.66666667%;
    left: auto;
}

.col-xs-push-10 {
    right: 83.33333333%;
    left: auto;
}

.col-xs-push-9 {
    right: 75%;
    left: auto;
}

.col-xs-push-8 {
    right: 66.66666667%;
    left: auto;
}

.col-xs-push-7 {
    right: 58.33333333%;
    left: auto;
}

.col-xs-push-6 {
    right: 50%;
    left: auto;
}

.col-xs-push-5 {
    right: 41.66666667%;
    left: auto;
}

.col-xs-push-4 {
    right: 33.33333333%;
    left: auto;
}

.col-xs-push-3 {
    right: 25%;
    left: auto;
}

.col-xs-push-2 {
    right: 16.66666667%;
    left: auto;
}

.col-xs-push-1 {
    right: 8.33333333%;
    left: auto;
}

.col-xs-push-0 {
    right: auto;
    left: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: auto;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: auto;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: auto;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: auto;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.col-xs-offset-0 {
    margin-right: 0%;
    margin-left: auto;
}

}

caption {
    text-align: right;
}

th {
    text-align: right;
}

@media screen and (max-width: 767px) {
caption {
    text-align: right;
}

th {
    text-align: right;
}


}

.radio label,
.checkbox label {
    padding-right: 20px;
    padding-left: 0;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
    margin-left: auto;
}

.radio-inline,
.checkbox-inline {
    padding-right: 20px;
    padding-left: 0;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-right: 10px;
    margin-left: auto;
}

.form-control-static.input-lg,
.form-control-static.input-sm {
    padding-right: 0;
    padding-left: 0;
}

.has-feedback .form-control {
    padding-left: 42.5px;
    padding-right: 0;
}

.form-control-feedback {
    left: 0;
    right: auto;
}

@media (min-width: 768px) {

.has-feedback .form-control {
    padding-left: 42.5px;
    padding-right: 0;
}

.form-control-feedback {
    left: 0;
    right: auto;
}

}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

}

.form-horizontal .has-feedback .form-control-feedback {
    left: 15px;
    right: auto;
}

.caret {
    margin-right: 2px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-left: auto;
}

.dropdown-menu {
    right: 0;
    float: right;
    text-align: right;
    left: auto;
}

.dropdown-menu.pull-left {
    left: 0;
    right: auto;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-backdrop {
    right: 0;
    left: 0;
}

.pull-left > .dropdown-menu {
    left: 0;
    right: auto;
}

@media (min-width: 768px) {

.dropdown-backdrop {
    right: 0;
    left: 0;
}

.pull-left > .dropdown-menu {
    left: 0;
    right: auto;
}

}

.btn-group > .btn,
.btn-group-vertical > .btn {
    float: right;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-right: -1px;
    margin-left: auto;
}

.btn-toolbar {
    margin-right: -5px;
    margin-left: auto;
}

.btn-toolbar .btn-group,
.btn-toolbar .input-group {
    float: right;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
    margin-right: 5px;
    margin-left: auto;
}

.btn-group > .btn:first-child {
    margin-right: 0;
    margin-left: auto;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group > .btn-group {
    float: right;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px;
}

.btn .caret {
    margin-right: 0;
    margin-left: auto;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
    margin-right: 0;
    margin-left: auto;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-group-justified > .btn-group .dropdown-menu {
    right: auto;
    left: auto;
}

.input-group[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.input-group .form-control {
    float: right;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group-addon:first-child {
    border-left: 0;
    border-right: none;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-addon:last-child {
    border-right: 0;
    border-left: none;
}

.input-group-btn > .btn + .btn {
    margin-right: -1px;
    margin-left: auto;
}

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
    margin-left: -1px;
    margin-right: auto;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    margin-right: -1px;
    margin-left: auto;
}

.nav {
    padding-right: 0;
    padding-left: 0;
}

/*.nav-tabs > li {
    float: right;
}*/

.nav-tabs > li > a {
    margin-left: 2px;
    margin-right: auto;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    right: auto;
    left: auto;
}

.nav-tabs.nav-justified > li > a {
    margin-left: 0;
    margin-right: auto;
}


.nav-pills > li {
    float: right;
}

.nav-pills > li + li {
    margin-right: 2px;
    margin-left: auto;
}

.nav-stacked > li + li {
    margin-right: 0;
    margin-left: auto;
}

.nav-justified > .dropdown .dropdown-menu {
    right: auto;
    left: auto;
}

.nav-tabs-justified > li > a {
    margin-left: 0;
    margin-right: auto;
}

.nav-tabs .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {

.navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
}

}


.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}


.navbar-fixed-top,
.navbar-fixed-bottom {
    left: 0;
    right: 0;
}

.navbar-brand {
    float: right;
}

@media (min-width: 768px) {

.navbar-brand {
    float: right;
}

}

.navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: auto;
}



.navbar-form {
    margin-right: -15px;
    margin-left: -15px;
}


.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (min-width: 768px) {

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

}

@media (min-width: 768px) {

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



}

.pagination {
    padding-right: 0;
    padding-left: 0;
}

.pagination > li > a,
.pagination > li > span {
    float: right;
    margin-right: -1px;
    margin-left: auto;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-right: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: auto;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.list-group-item > .badge {
    float: left;
}

.list-group-item > .badge + .badge {
    margin-left: 5px;
    margin-right: auto;
}

.nav-pills > li > a > .badge {
    margin-right: 3px;
    margin-left: auto;
}

.alert-dismissable,
.alert-dismissible {
    padding-left: 35px;
    padding-right: 0;
}

.alert-dismissable .close,
.alert-dismissible .close {
    left: -21px;
    right: auto;
}

.progress-bar {
    float: right;
}

.panel-heading {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
    padding-right: 15px;
    padding-left: 15px;
}

.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-right-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-left-radius: 3px;
}

.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-right-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-left-radius: 3px;
}

.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-right: 0;
    border-left: none;
}

.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-left: 0;
    border-right: none;
}

.close {
    float: left;
}

.modal {
    left: 0;
    right: 0;
}

.modal-backdrop {
    left: 0;
    right: 0;
}

.modal-footer {
    text-align: left;
}

.modal-footer .btn + .btn {
    margin-right: 5px;
    margin-left: auto;
}

.modal-footer .btn-group .btn + .btn {
    margin-right: -1px;
    margin-left: auto;
}

.modal-footer .btn-block + .btn-block {
    margin-right: 0;
    margin-left: auto;
}

.tooltip.left {
    margin-right: 3px;
    margin-left: auto;
}

.tooltip.right {
    margin-right: -3px;
    margin-left: auto;
}

.tooltip.top .tooltip-arrow {
    right: 50%;
    margin-right: -5px;
    left: auto;
    margin-left: auto;
}

.tooltip.top-right .tooltip-arrow {
    left: 5px;
    right: auto;
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    left: auto;
}

.tooltip.left .tooltip-arrow {
    right: 0;
    border-left-color: #000000;
    left: auto;
}

.tooltip.right .tooltip-arrow {
    left: 0;
    border-right-color: #000000;
    right: auto;
}

.tooltip.bottom .tooltip-arrow {
    right: 50%;
    margin-right: -5px;
    left: auto;
    margin-left: auto;
}

.tooltip.bottom-right .tooltip-arrow {
    left: 5px;
    right: auto;
}

.tooltip.bottom-left .tooltip-arrow {
    right: 5px;
    left: auto;
}

.center-block {
    margin-right: auto;
    margin-left: auto;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.horizontal-align {
    right: 50%;
    left: auto;
}

.dropdown-menu > li > a:after,
.submenu > li > a:after {
    left: 7px;
    right: auto;
}

.line-after {
    left: 0;
    right: auto;
}

.line-before {
    left: 0;
    left: auto;
    right: 0;
}

.header.boxed,
body #wrapper.boxed .header {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
}

.header.boxed > .navbar-header,
body #wrapper.boxed .header > .navbar-header,
.header.boxed > .navbar-collapse,
body #wrapper.boxed .header > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.header.boxed > .navbar-header,
body #wrapper.boxed .header > .navbar-header,
.header.boxed > .navbar-collapse,
body #wrapper.boxed .header > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

.header.fullwidth,
body #wrapper.fullwidth .header {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
}

.header.fullwidth > .navbar-header,
body #wrapper.fullwidth .header > .navbar-header,
.header.fullwidth > .navbar-collapse,
body #wrapper.fullwidth .header > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.header.fullwidth > .navbar-header,
body #wrapper.fullwidth .header > .navbar-header,
.header.fullwidth > .navbar-collapse,
body #wrapper.fullwidth .header > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

.boxed .header--transparent {
    right: 0;
    left: 0;
}

.header__dropdowns-container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}


.header__dropdowns-container > .navbar-header,
.header__dropdowns-container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.header__dropdowns-container > .navbar-header,
.header__dropdowns-container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}


.header__dropdowns {
    left: 0;
    right: auto;
}

.navbar .header__dropdowns {
    margin: -26px 0 0 15px;
}

@media (max-width: 991px) {

.navbar .header__dropdowns {
    margin: -26px 0 0 15px;
}

}

.header__dropdowns .pull-left > .dropdown-menu {
    left: 3px;
    right: auto;
}

@media (max-width: 767px) {

.header__dropdowns .pull-left > .dropdown-menu {
    left: 3px;
    right: auto;
}

}

.header__cart__indicator {
    float: right;
}

.header__cart .badge.badge--menu {
    left: -2px;
    right: auto;
}



.header .caret {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.logo {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}



.user-links ul .user-links__item {
    margin-right: 1em;
    margin-left: auto;
}

.pull-left .user-links ul .user-links__item.user-links__item--separate {
    margin-right: 3em;
    margin-left: auto;
}

.pull-right .user-links ul .user-links__item.user-links__item--separate {
    margin-left: 3em;
    margin-right: auto;
}

#menu-footer-top-menu-left {
    text-align: left;
}

.navbar #slidemenu {
    padding-left: 15px;
    padding-right: 15px;
}

.osd-subscribe-form {
    text-align: left;
}
.subscribe-form__label {
    float: right !important;
    margin-right: 112px;
}

.footer__bottom {
    background-color: #fff;
    text-align: left;
}
.footer__bottom .pull-left  {
    float: right !important;
}
.footer__bottom .pull-right  {
    float: left !important;
}


.archive.tax-product_cat section.content + section.content {
    padding-bottom: 0 !important;
}
.navbar #slidemenu.stuck {
    right: 0 !important;
    left: auto;
}

.navbar .navbar-toggle {
    float: right;
}

.navbar .navbar-toggle:after {
    left: 0;
    right: auto;
}

.navbar .navbar-nav,
.navbar .mega_main_menu_ul {
    margin-right: -10px;
    margin-left: -10px;
}



.navbar.navbar-wd .dropdown-menu ul.submenu {
    right: 90%;
    left: auto;
}




.ul-row .li-col {
    padding: 0 0 0 30px;
}



.ul-row .li-col h4 {
    text-align: right !important;
}

.currency__item a span {
    padding-left: 10px;
    padding-right: 0;
}

.languages--flag .languages__item__label {
    padding-left: 10px;
    padding-right: 0;
}

.megamenu > .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.megamenu__columns {
    padding-left: 400px !important;
    padding-right: 0;
}

.megamenu__columns.megamenu__columns-image-off {
    padding-left: 0 !important;
    padding-right: 0;
}

.navbar-nav--vertical .megamenu__columns {
    padding-left: 300px !important;
    padding-right: 0;
}

.navbar-nav--vertical .megamenu__columns.megamenu__columns-image-off {
    padding-left: 0 !important;
    padding-right: 0;
}

@media (max-width: 991px) {

.navbar-nav--vertical .megamenu__columns {
    padding-left: 300px !important;
    padding-right: 0;
}

.navbar-nav--vertical .megamenu__columns.megamenu__columns-image-off {
    padding-left: 0 !important;
    padding-right: 0;
}

}



.megamenu__columns .level-menu li {
    float: right;
}

@media (max-width: 767px) {

.megamenu__columns .level-menu li {
    float: right;
}

}



@media (max-width: 767px) {

.megamenu__columns .level-menu li {
    float: right;
}

}



.megamenu__columns__top-block .icon,
.megamenu__columns__bottom-block .icon {
    padding-left: 7px;
    padding-right: 0;
}

.megamenu__columns__top-block li,
.megamenu__columns__bottom-block li {
    margin-left: 20px;
    margin-right: auto;
}

@media (max-width: 480px) {

.megamenu__columns__top-block li,
.megamenu__columns__bottom-block li {
    margin-left: 20px;
    margin-right: auto;
}

}



.megamenu__columns__side-image {
    left: 5px;
    right: auto;
}

.megamenu__columns__side-image img {
    float: left;
}

.row-menu > .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.row-menu__columns {
    padding-left: 400px !important;
    padding-right: 0;
}

.row-menu__columns.megamenu__columns-image-off {
    padding-left: 0 !important;
    padding-right: 0;
}

.navbar-nav--vertical .row-menu__columns {
    padding-left: 300px !important;
    padding-right: 0;
}

.navbar-nav--vertical .row-menu__columns.megamenu__columns-image-off {
    padding-left: 0 !important;
    padding-right: 0;
}

@media (max-width: 991px) {

.navbar-nav--vertical .row-menu__columns {
    padding-left: 300px !important;
    padding-right: 0;
}

.navbar-nav--vertical .row-menu__columns.megamenu__columns-image-off {
    padding-left: 0 !important;
    padding-right: 0;
}

}

.row-menu__columns .level-menu li {
    float: right;
}

@media (max-width: 767px) {

.row-menu__columns .level-menu li {
    float: right;
}

}



@media (max-width: 767px) {

.row-menu__columns .level-menu li {
    float: right;
}

}



.row-menu__columns__top-block .icon,
.row-menu__columns__bottom-block .icon {
    padding-left: 7px;
    padding-right: 0;
}

.row-menu__columns__top-block li,
.row-menu__columns__bottom-block li {
    margin-left: 20px;
    margin-right: auto;
}

@media (max-width: 480px) {

.row-menu__columns__top-block li,
.row-menu__columns__bottom-block li {
    margin-left: 20px;
    margin-right: auto;
}

}


.row-menu__columns__side-image {
    left: 5px;
    right: auto;
}

.row-menu__columns__side-image img {
    float: left;
}

@media (max-width: 767px) {

.row-menu__columns__side-image img {
    float: left;
}

}


.shopping-cart__settings {
    left: 5px;
    right: auto;
}

.shopping-cart__item:after {
    right: 0;
    left: auto;
}

.shopping-cart__item__info {
    padding: 0 15px 0 55px;
}

.shopping-cart__item__info__price {
    left: 0;
    right: auto;
}

.shopping-cart__item__info__qty {
    left: 0;
    right: auto;
}

.shopping-cart__item__info__delete {
    left: 0;
    right: auto;
}


.navbar-nav--vertical > li > a .caret {
    left: 0;
    padding: 18px 25px 25px 15px;
    right: auto;
}



.footer.boxed,
body #wrapper.boxed .footer {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
}


.footer.boxed > .navbar-header,
body #wrapper.boxed .footer > .navbar-header,
.footer.boxed > .navbar-collapse,
body #wrapper.boxed .footer > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.footer.boxed > .navbar-header,
body #wrapper.boxed .footer > .navbar-header,
.footer.boxed > .navbar-collapse,
body #wrapper.boxed .footer > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

.footer.fullwidth,
body #wrapper.fullwidth .footer {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
}

.footer.fullwidth > .navbar-header,
body #wrapper.fullwidth .footer > .navbar-header,
.footer.fullwidth > .navbar-collapse,
body #wrapper.fullwidth .footer > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.footer.fullwidth > .navbar-header,
body #wrapper.fullwidth .footer > .navbar-header,
.footer.fullwidth > .navbar-collapse,
body #wrapper.fullwidth .footer > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

.footer.fullwidth .container,
body #wrapper.fullwidth .footer .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.footer.fullwidth .container > .navbar-header,
body #wrapper.fullwidth .footer .container > .navbar-header,
.footer.fullwidth .container > .navbar-collapse,
body #wrapper.fullwidth .footer .container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.footer.fullwidth .container > .navbar-header,
body #wrapper.fullwidth .footer .container > .navbar-header,
.footer.fullwidth .container > .navbar-collapse,
body #wrapper.fullwidth .footer .container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}


.footer .social-links {
    text-align: left;
}

/*.back-to-top {
    right: 50%;
    left: auto;
}*/

.back-to-top > a:hover span {
    right: 24px;
    left: auto;
}

@media (max-width: 767px) {

.back-to-top > a:hover span {
    right: 24px;
    left: auto;
}

}

.row-no-padding [class*="col-"] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.content--parallax--short {
    padding: 60px 50px 0 !important;
}


.content.boxed,
body #wrapper.boxed *:not(.aside-column) > .content {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
}

.content.boxed > .navbar-header,
body #wrapper.boxed *:not(.aside-column) > .content > .navbar-header,
.content.boxed > .navbar-collapse,
body #wrapper.boxed *:not(.aside-column) > .content > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.content.boxed > .navbar-header,
body #wrapper.boxed *:not(.aside-column) > .content > .navbar-header,
.content.boxed > .navbar-collapse,
body #wrapper.boxed *:not(.aside-column) > .content > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

.content.fullwidth,
body #wrapper.fullwidth *:not(.aside-column) > .content {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
}

.content.fullwidth > .navbar-header,
body #wrapper.fullwidth *:not(.aside-column) > .content > .navbar-header,
.content.fullwidth > .navbar-collapse,
body #wrapper.fullwidth *:not(.aside-column) > .content > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.content.fullwidth > .navbar-header,
body #wrapper.fullwidth *:not(.aside-column) > .content > .navbar-header,
.content.fullwidth > .navbar-collapse,
body #wrapper.fullwidth *:not(.aside-column) > .content > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

.content.fullwidth .container,
body #wrapper.fullwidth *:not(.aside-column) > .content .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
}

.content.fullwidth .container > .navbar-header,
body #wrapper.fullwidth *:not(.aside-column) > .content .container > .navbar-header,
.content.fullwidth .container > .navbar-collapse,
body #wrapper.fullwidth *:not(.aside-column) > .content .container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.content.fullwidth .container > .navbar-header,
body #wrapper.fullwidth *:not(.aside-column) > .content .container > .navbar-header,
.content.fullwidth .container > .navbar-collapse,
body #wrapper.fullwidth *:not(.aside-column) > .content .container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

body #wrapper.fullwidth .content .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
}


#loader-wrapper,
#modalLoader-wrapper {
    right: 0;
    left: auto;
}

#loader,
#modalLoader {
    margin: -75px -75px 0 0;
    right: 50%;
    left: auto;
}

#loader:before,
#modalLoader:before {
    left: 5px;
    right: 5px;
}

#loader:after,
#modalLoader:after {
    right: 15px;
    left: 15px;
}



h1 .icon,
h2 .icon,
h3 .icon,
h4 .icon,
h5 .icon,
h6 .icon {
    padding-left: 5px;
    padding-right: 0;
}

.img-right {
    float: right;
    margin: 0 0 15px 30px;
}

.img-left {
    float: left;
    margin: 0 30px 15px 0;
}

.h-links-list li {
    padding: 0 0 0 16px;
}

.v-links-list li.icon {
    padding: 0 22px 4px 0;
}

.v-links-list li.icon:before {
    right: 0;
    left: auto;
}

.category-list li {
    padding: 10px 15px 10px 0;
}

.category-list li:after {
    right: 0;
    left: auto;
}

.circle-list li {
    padding-right: 15px;
    padding-left: 0;
}

.circle-list li:after {
    right: 0;
    left: auto;
}

.simple-list li {
    padding-right: 15px;
    padding-left: 0;
}

.simple-list li:after {
    right: 0;
    left: auto;
}

.decimal-list {
    margin: 15px 25px 15px 0;
}

.decimal-list li {
    padding-right: 0;
    padding-left: 0;
}

.decimal-list ul {
    margin: 5px 17px 5px 0;
}

.table-address td {
    padding: 3px 0 3px 25px;
}

.table-params td {
    border-right-width: 1px;
    border-right-style: solid;
}

.table-params tr > td:first-child {
    border-right: 0;
    border-left: none;
}

.dropcap {
    float: right;
    margin: 0 0 0 5px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
}

.pagination-label {
    padding-left: 15px;
    padding-right: 0;
}

.card-title {
    padding: 18px 25px 18px 45px;
}

.card-title:after {
    left: 12px;
    right: auto;
}



.card__row--icon {
    padding-right: 80px;
    padding-left: 0;
}



.card__row--icon__icon {
    right: 0;
    left: auto;
}

blockquote.blockquote--wd p {
    border-left: 0;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: #536dfe;
    padding: 5px 30px 5px 0;
}
.woocommerce-account h1.page-title {
    display: none;
}

blockquote.blockquote--wd footer {
    padding: 5px 30px 0 0;
}


.testimonial__text {
    padding: 20px 65px 15px 20px;
}

.testimonial__text:after {
    right: 20px;
    left: auto;
}

button.pull-left,
.btn.pull-left {
    margin-left: 10px;
    margin-right: auto;
}

.btn--wd span {
    right: 0;
    left: auto;
}

.btn--wd.btn--with-icon .icon {
    padding-left: 5px;
    padding-right: 0;
}

.btn--clear {
    padding-right: 0;
    padding-left: 0;
}

.input--line {
    padding-right: 0;
    padding-left: 0;
}

.input-group--wd label {
    right: 0;
    left: auto;
}

.input-group__bar:before {
    right: 50%;
    left: auto;
}

.input-group__bar:after {
    left: 50%;
    right: auto;
}

label.label--inline {
    padding-left: 10px;
    padding-right: 0;
}


.subscribe-form__label {
    padding-left: 10px;
    padding-right: 0;
}

.subscribe-form__input {
    margin-left: 10px;
    margin-right: auto;
}

@media (max-width: 767px) {



.subscribe-form__input {
    margin-left: 10px;
    margin-right: auto;
}

}

.select--wd--sm {
    padding: 6px 10px 6px 20px;
}

.select--wd--xs {
    padding: 2px 5px 2px 20px;
}

.select--wd--lg {
    padding: 5px 12px 5px 20px;
}

.checkbox-group label {
    padding-right: 25px;
    padding-left: 0;
}

.checkbox-group label span {
    right: 0;
    left: auto;
}

.checkbox-group label .check {
    right: 4px;
    border-right: none;
    left: auto;
    border-left: none;
}

.radio .outer {
    float: right;
    margin: 0 0 0 9px;
}

.header__search__input {
    left: 0;
    right: auto;
}

.header__search--to-left .header__search__input {
    left: auto;
    right: 0;
    padding-right: 35px;
    padding-left: 0;
}

.header__search__input:focus {
    padding-left: 40px;
    padding-right: 0;
}

.header__search__button {
    left: 0;
    right: auto;
}

.header__search--to-left .header__search__button {
    left: auto;
    right: 0;
}

.social-links ul .social-links__item {
    margin-left: 1.538em;
    margin-right: auto;
}

.social-links--large ul .social-links__item {
    margin-left: 2.3em;
    margin-right: auto;
}

.badge.badge--menu {
    left: -5px;
    right: auto;
}

.badge.badge--squared {
    margin-right: 12px;
    margin-left: auto;
}

/*product*/
.product-preview-wrapper {
    margin-left: -4px;
    margin-right: auto;
}

.slick-slider .product-preview-wrapper {
    float: right;
    margin-left: 0;
    margin-right: auto;
}

/*.products-isotope {
    margin-left: -20px;
    margin-right: auto;
}*/

.one-in-row .product-preview-wrapper {
    margin-left: 0;
    margin-right: auto;
}

.two-in-row .product-preview-wrapper {
    padding-right: 15px;
    padding-left: 15px;
}


.three-in-row .product-preview-wrapper {
    padding-right: 15px;
    padding-left: 15px;
}



.four-in-row .product-preview-wrapper {
    padding-right: 15px;
    padding-left: 15px;
}



.five-in-row .product-preview-wrapper {
    padding-right: 15px;
    padding-left: 15px;
}


.six-in-row .product-preview-wrapper {
    padding-right: 15px;
    padding-left: 15px;
}


.seven-in-row .product-preview-wrapper {
    padding-right: 15px;
    padding-left: 15px;
}


.eight-in-row .product-preview-wrapper {
    padding-right: 15px;
    padding-left: 15px;
}



.product-links--inline li {
    padding-left: 3px;
    padding-right: 0;
}

/*.product-preview__info__btns .btn:first-child {
    right: -50%;
    left: auto;
}

.product-preview__info__btns .btn:last-child {
    left: -50%;
    right: auto;
}
*/
.product-preview__info__link--inline li {
    padding-left: 3px;
    padding-right: 0;
}

.product-preview__info__link:after {
    left: 0;
    right: 0;
}

.product-preview__label--right {
    right: 15px;
    left: auto;
}

.row-view .product-preview__label--right {
    right: 0;
    left: auto;
}

.product-preview__label--left {
    left: 15px;
    right: auto;
}

.row-view .product-preview__label--left {
    left: 0;
    right: auto;
}


@media (min-width: 768px) {

.product-preview__label--left {
    left: 15px;
    right: auto;
}

.row-view .product-preview__label--left {
    left: 0;
    right: auto;
}

}

@media (max-width: 767px) {

.product-preview__label--right {
    right: 15px;
    left: auto;
}

.row-view .product-preview__label--right {
    right: 0;
    left: auto;
}

.product-preview__label--left {
    left: 15px;
    right: auto;
}

.row-view .product-preview__label--left {
    left: 0;
    right: auto;
}



.product-preview__label--left {
    left: 15px;
    right: auto;
}

.row-view .product-preview__label--left {
    left: 0;
    right: auto;
}



}

.products-listing.row-view .product-preview-wrapper .product-preview__image {
    float: right;
}


.product-preview-wrapper .product-preview__info,
.product-preview-wrapper .product-preview__info div {
    text-align: center;
}
.products-listing.row-view .product-preview-wrapper .product-preview__info,
.products-listing.row-view .product-preview-wrapper .product-preview__info div {
    text-align: right;
}

.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link {
    margin-right: -15px;
    padding: 15px 15px 20px 0;
    margin-left: auto;
}

.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .buy-link {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}

@media (max-width: 991px) {

.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .buy-link {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}

}



@media (max-width: 991px) {



.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .buy-link {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}

}


.rating span {
    padding-left: 1px;
    padding-right: 0;
}

.rating--big span {
    padding-left: 2px;
    padding-right: 0;
}


.filters-col__collapse .products-widget__item {
    padding-right: 0;
    padding-left: 0;
}

.products-widget__item:after {
    right: 0;
    left: auto;
}

.slick-list 
.h-links-list ul {
    text-align: left;
}
.slick-list {
    direction: ltr !important;
}
.slick-list > div * {
    direction: rtl;
}
.slick-prev {
    left: -45px !important;
    right: auto !important;
}


@media (max-width: 1199px) and (min-width: 992px) {

.products-widget__item:after {
    right: 0;
    left: auto;
}

}

.product-main-image__zoom {
    left: 0;
    right: auto;
}

.product-main-image.no-zoom .product-main-image__item {
    right: 0;
    left: auto;
}

.product-images-carousel .slick-prev {
    right: -28px;
    left: auto;
}

.product-images-carousel .slick-next {
    left: -28px;
    right: auto;
}
.product-category__info__ribbon__count {
    text-align: center;
}
[dir='rtl'] .product-images-carousel .slick-prev {
    right: -30px !important;
    left: auto !important;
}
@media (max-width: 767px) {

[dir='rtl'] .product-images-carousel .slick-prev {
    left: -28px !important;
    right: auto !important;
}
[dir='rtl'] .product-images-carousel .slick-next {
    left: auto !important;
    right: -28px !important;
}

}

.input-qty {
    padding-left: 22px;
    padding-right: 5px;
}

.input-group-qty {
    padding-left: 10px;
    padding-right: 10px;
    float: right !important;
    /* direction: rtl; */
    text-align: right !important;
}
.outer form.cart {
    float: right !important;

}

.input-group-qty .btn-number-container .btn-number {
    right: -18px;
    border-right-width: 1px;
    border-right-style: solid;
    left: auto;
}

.product-other__link.product-prev {
    padding-right: 50px;
    padding-left: 25px;
    float: left;
}

.product-other__link.product-prev:after {
    right: auto;
    left: 0;
}

.product-other__link.product-prev .product-other__link__image {
    right: auto;
    left: 0;
}

.product-other__link.product-prev:last-child {
    padding-left: 0 !important;
    padding-right: 0;
}

.product-other__link.product-next {
    padding-left: 0;
    padding-right: 25px;
}

.product-other__link.product-next:after {
    left: auto;
    right: 0;
}

.product-other__link.product-next .product-other__link__image {
    left: auto;
    right: 0;
}

#singleGalleryVertical .slick-dots {
    right: 0;
    left: auto;
}

.product-category__info {
    right: 0;
    left: 0;
}

.category-big-banner__image {
    right: 0;
    left: auto;
}

.category-big-banner__text {
    right: 0;
    left: auto;
}

body.modal-open {
    padding-left: 0 !important;
    padding-right: 0;
}

.modal:before {
    margin-left: -4px;
    margin-right: auto;
}

.modal .modal-dialog {
    text-align: right;
}

.modal button.close {
    margin: -20px 0 0 -5px;
}

.modal--bg .modal-header {
    left: 0;
    right: auto;
}


.modal--bg .popup-dont-show {
    right: 20px;
    text-align: right;
    left: auto;
}

.overlay {
    right: 0;
    left: auto;
}

.overlay .overlay-close {
    left: 20px;
    right: auto;
}

.loader {
    right: 50%;
    margin: -25px -75px 0 0;
    left: auto;
}

.color-icon {
    margin-left: 8px;
    margin-right: auto;
}

.compare-box {
    right: 0;
    left: 0;
}

.compare-box__header__toggle {
    left: 0;
    right: auto;
}

.compare-box__header__toggle .icon {
    padding: 0 10px 0 5px;
}

.compare-box__header__toggle__close {
    padding-right: 15px;
    padding-left: 0;
}

.compare-box__actions {
    left: 0;
    right: auto;
}

.compare-box__items {
    margin-left: 200px;
    margin-right: auto;
}

.compare-box__items__list__item {
    float: right;
    margin-right: 20px;
    margin-left: auto;
}

.compare-box__items__list__item:first-child {
    margin-right: 0;
    margin-left: auto;
}

.compare-box__items__list__item__delete {
    left: 5px;
    right: auto;
}

.compare-box__items__list__item__num {
    left: 0;
    right: 0;
}

.compare-carousel .slick-prev {
    left: 45px !important;
    right: auto;
}

.compare-carousel .slick-next {
    left: 10px !important;
    right: auto;
}

@media (min-width: 0) and (max-width: 479px) {

.compare-carousel .slick-prev {
    left: 45px !important;
    right: auto;
}

.compare-carousel .slick-next {
    left: 10px !important;
    right: auto;
}

}

.scroll-to-content {
    right: 50%;
    left: auto;
}

.scroll-to-content .icon {
    right: 24px;
    left: auto;
}


.banner--image__text--right {
    right: 6%;
    left: auto;
}

.banner--image__text--left {
    left: 6%;
    right: auto;
}

@media (max-width: 1199px) and (min-width: 992px) {

.banner--image__text--right {
    right: 6%;
    left: auto;
}

.banner--image__text--left {
    left: 6%;
    right: auto;
}

}


.banner--icon__text {
    padding: 0 8.582445em 0 5%;
}

.banner-collection,
#bannerCollection [class*="col-"] {
    margin-left: -4px;
    margin-right: auto;
}

@media (max-width: 767px) {

.banner-collection,
#bannerCollection [class*="col-"] {
    margin-left: -4px;
    margin-right: auto;
}

}

.boxed .blog-widget {
    padding-right: 60px;
    padding-left: 60px;
}

.boxed .blog-widget .row {
    margin-right: 0;
    margin-left: 0;
}

.blog-widget__title {
    padding-right: 15px;
    margin-right: 37%;
    padding-left: 0;
    margin-left: auto;
}

.show-2 .blog-widget__title,
.show-3 .blog-widget__title,
.show-5 .blog-widget__title,
.blog-widget--one-center .blog-widget__title {
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: auto;
}

@media (max-width: 767px) {

.show-2 .blog-widget__title,
.show-3 .blog-widget__title,
.show-5 .blog-widget__title,
.blog-widget--one-center .blog-widget__title {
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: auto;
}

}

.blog-widget__item:after {
    left: 15px;
    right: auto;
}

.blog-widget--one-center .blog-widget__item:after {
    left: 2px;
    right: auto;
}


.blog-widget__item__image-cell {
    padding-right: 2px;
    padding-left: 15px;
}



@media (max-width: 991px) {



.blog-widget__item__image-cell {
    padding-right: 2px;
    padding-left: 15px;
}

}


.blog-widget__item__image-cell {
    padding-right: 2px;
    padding-left: 15px;
}





.blog-widget__item__offset-text {
    padding-right: 15px;
    padding-left: 15px;
}




@media (max-width: 767px) {
.blog-widget__item__offset-text {
    padding-right: 15px;
    padding-left: 15px;
}

}



@media (max-width: 767px) {
.blog-widget__item__offset-text {
    padding-right: 15px;
    padding-left: 15px;
}

}



.blog-widget__item__offset-text__date span {
    padding: 0 0 0 10px;
}

.blog-widget__item__offset-text__date span:after {
    right: 100%;
    left: auto;
}

.blog-widget--one-center .blog-widget__item__offset-text__date span:before {
    left: 100%;
    right: auto;
}


@media (max-width: 767px) {

.blog-widget--one-center .blog-widget__item__offset-text__date span:before {
    left: 100%;
    right: auto;
}

}


.blog-post-title__meta__text {
    text-align: right;
}

.blog-post-title__meta__image {
    float: right;
}

.post--fill {
    margin-right: -50px;
    margin-left: -50px;
}

.post--column {
    float: right;
}

.post__meta--inline li {
    padding-left: 3px;
    padding-right: 0;
}

.post__meta__item {
    margin-left: 7px;
    margin-right: auto;
}

.post__meta .icon {
    padding: 0 0 0 5px;
}

.post--column .post__meta:after {
    left: 0;
    right: 0;
}

.btn-plus__links {
    left: 0;
    text-align: left;
    right: auto;
}

.btn-plus__links--active {
    left: 64px;
    right: auto;
}

.btn-plus__toggle {
    margin: 0 0 0 50%;
    left: -30px;
    right: auto;
}

.btn-plus__toggle.expanded {
    margin: 0 0 0 100%;
    left: -48px;
    right: auto;
}

.blog-content .img-right {
    margin-right: -50px;
    margin-left: auto;
}

.blog-content .img-left {
    margin-left: -50px;
    margin-right: auto;
}
.pagination > li:last-child > a .fa-angle-right::before {
    content: "\f104";
}
.audio-content {
    margin-right: 70px;
    padding-right: 15px;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 0;
    margin-left: auto;
}

.audio-content:before {
    right: -70px;
    left: auto;
}

.post--status {
    margin-right: -50px;
    margin-left: -50px;
    border-right-width: 4px;
    border-right-style: solid;
}

.post--quotes {
    margin-right: -50px;
    margin-left: -50px;
}

.post--quotes .post__quote {
    padding-right: 50px;
    padding-left: 0;
}

.post--quotes .post__quote:after {
    right: 0;
    left: auto;
}

.post--format-link .post__title {
    padding-left: 20px;
    padding-right: 0;
}


.testimonials__item-title {
    padding: 18px 25px 18px 45px;
}

.testimonials__item-title:after {
    left: 12px;
    right: auto;
}

.testimonials__item__row--icon {
    padding-right: 80px;
    padding-left: 0;
}


.testimonials__item__row--icon__icon {
    right: 0;
    left: auto;
}

.testimonials__item__text {
    padding-right: 45px;
    padding-left: 0;
}

.testimonials__item__text:before {
    right: 0;
    left: auto;
}

.breadcrumbs .breadcrumb.breadcrumb--wd {
    float: right !important;
    direction: rtl;
}
.breadcrumbs .breadcrumb.breadcrumb--wd > li + li::before {
    content: "/";
    padding: 0 5px;s
}

.breadcrumbs--boxed,
body #wrapper.boxed .breadcrumbs {
    padding-right: 0;
    padding-left: 0;
}

.breadcrumbs--full,
body #wrapper.fullwidth .breadcrumbs {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
}

.breadcrumbs--full > .navbar-header,
body #wrapper.fullwidth .breadcrumbs > .navbar-header,
.breadcrumbs--full > .navbar-collapse,
body #wrapper.fullwidth .breadcrumbs > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.breadcrumbs--full > .navbar-header,
body #wrapper.fullwidth .breadcrumbs > .navbar-header,
.breadcrumbs--full > .navbar-collapse,
body #wrapper.fullwidth .breadcrumbs > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

.breadcrumbs--full .container,
body #wrapper.fullwidth .breadcrumbs .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.breadcrumbs--full .container > .navbar-header,
body #wrapper.fullwidth .breadcrumbs .container > .navbar-header,
.breadcrumbs--full .container > .navbar-collapse,
body #wrapper.fullwidth .breadcrumbs .container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {

.breadcrumbs--full .container > .navbar-header,
body #wrapper.fullwidth .breadcrumbs .container > .navbar-header,
.breadcrumbs--full .container > .navbar-collapse,
body #wrapper.fullwidth .breadcrumbs .container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

}

.nav-tabs--wd > li > a {
    margin-left: 3px;
    margin-right: auto;
}

@media (max-width: 767px) {

.nav-tabs--wd > li > a {
    margin-left: 3px;
    margin-right: auto;
}

}

.nav-tabs--wd > li.active > a:after {
    right: 0;
    left: 0;
}



article .entry-content .banner::before {
    left: -1px;
    right: -1px;
}



@media (min-width: 480px) and (max-width: 479px) {
article .entry-content .banner::before {
    left: -1px;
    right: -1px;
}

}



@media (min-width: 480px) and (max-width: 479px) {
article .entry-content .banner::before {
    left: -1px;
    right: -1px;
}

}



.article-nav {
    left: 25px;
    right: auto;
}


.category-block__title {
    right: 0;
    left: auto;
}


.category-block__image {
    margin: 25px 125px 0 0;
}

@media (max-width: 1199px) and (min-width: 992px) {

.category-block__image {
    margin: 25px 125px 0 0;
}

}



@media (max-width: 1199px) and (min-width: 992px) {

.category-block__image {
    margin: 25px 125px 0 0;
}

}




@media (max-width: 1199px) and (min-width: 992px) {

.category-block__image {
    margin: 25px 125px 0 0;
}

}


.category-block__image__loader {
    right: 0;
    left: 0;
}

.category-block__image img {
    right: 0;
    left: auto;
}

.category-block--left .category-block__list {
    text-align: left;
}

@media (max-width: 767px) {

.category-block--left .category-block__list {
    text-align: left;
}

}

.category-block--left .category-block__image {
    margin: 25px 0 0 125px;
}

@media (max-width: 1199px) and (min-width: 992px) {

.category-block--left .category-block__image {
    margin: 25px 0 0 125px;
}

}


@media (max-width: 1199px) and (min-width: 992px) {

.category-block--left .category-block__image {
    margin: 25px 0 0 125px;
}

}


.filters-row__view {
    margin: 0 0 0 12px;
}


.filters-col__close {
    right: 20px;
    left: auto;
}

.filters-col__collapse__title {
    padding: 20px 0 20px 20px;
}

.filters-col__collapse__title:after {
    left: 2px;
    right: auto;
}

.filter-list li a.icon {
    margin: 0 0 0 8px;
}


.filters-col__close {
    right: 20px;
    left: auto;
}

.filters-col__collapse__title {
    padding: 20px 0 20px 20px;
}

.filters-col__collapse__title:after {
    left: 2px;
    right: auto;
}

.filter-list li a.icon {
    margin: 0 0 0 8px  ;
}

.rating-extended__num {
    margin: 0 0 10px 15px;
}

.rating-extended__label {
    float: right;
}

.rating-extended__reviews-count {
    float: left;
}

.rating-extended .progress-bar {
    text-align: right;
}

.panel-table .td {
    border-right: none;
    border-left: none;
}

@media (max-width: 767px) {

.panel-table .td {
    border-right: none;
    border-left: none;
}

}

.panel-table .td:last-child {
    border-left: none;
    border-right: none;
}

.panel-checkout .panel-heading {
    border-right-width: 55px;
    border-right-style: solid;
}

.panel-checkout .panel-heading__number {
    right: -55px;
    border-left-style: solid;
    border-left-width: 1px;
    left: auto;
}


.comments__comment__userpic {
    float: right;
    margin: 0 0 0 15px;
}

.comments__comment--replay {
    margin-right: 80px;
    margin-left: auto;
}

.comment-form input[type=text],
.comment-form textarea {
    border-right: 0;
    border-left: 0;
}

.gallery__item {
    float: right;
}

.gallery__item .btn {
    right: 50%;
    margin-right: -30px;
    left: auto;
    margin-left: auto;
}

.post .gallery-row .gallery-col {
    float: right;
}

.hint__dot {
    right: 0;
    left: auto;
}

.tool {
    left: 38px;
    right: auto;
}



.tool:before {
    left: -10px;
    right: auto;
}

.tool .tip {
    left: -4px;
    right: auto;
}

.tool--left {
    right: 38px;
    left: auto;
}

.tool--left:before {
    right: -10px;
    left: auto;
}

.tool--left .tip {
    right: -4px;
    left: auto;
}

.hover-tool {
    right: 50px;
    text-align: right;
    left: auto;
}

.hint:hover .hover-tool {
    right: 0;
    left: auto;
}


.tool--left .hover-tool {
    right: auto;
    left: 50px;
}

.hint:hover .tool--left .hover-tool {
    right: auto;
    left: 0;
}

.hover-tool:before {
    right: 0;
    left: auto;
}

.hover-tool .btn {
    float: left;
    margin-right: 35px;
    margin-left: auto;
}

@media (max-width: 991px) {

.hover-tool .btn {
    float: left;
    margin-right: 35px;
    margin-left: auto;
}
.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .buy-link {
    float: none;
    left: 0;
    right: auto;
    top: 18px;
}

}

.hover-tool__tip {
    right: 35px;
    left: auto;
}

.tool--left .hover-tool__tip {
    right: auto;
    left: 35px;
}

/*countdown*/



.countdown-section {
    margin: 0 0 0 1px;
}



.shopping-cart-table td.image-col {
    padding-right: 0;
    padding-left: 0;
}






.shopping-cart-table td.image-col {
    padding-right: 0;
    padding-left: 0;
}



.not-found-box__text {
    left: 0;
    padding: 0 0 8% 10%;
    right: auto;
}


.hover-squared .caption::before,
.hover-squared .caption::after {
    left: 10px;
    right: 10px;
}

.hover-squared .caption::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

@media (min-width: 768px) {

.hover-squared .caption::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

}


.nav-mobile .slick-next {
    left: 0 !important;
    right: auto;
}

.nav-mobile .slick-prev {
    right: 0 !important;
    left: auto;
}

.single-slider .slick-prev {
    right: 15px;
    left: auto;
}

.single-slider .slick-next {
    left: 15px;
    right: auto;
}

.tparrows.default.tp-rightarrow::before,
.tparrows.default.tp-rightarrow::after,
.tparrows.default.tp-rightarrow .tp-arr-allwrapper::before,
.tparrows.default.tp-rightarrow .tp-arr-allwrapper::after,
.tparrows.default.tp-leftarrow::before,
.tparrows.default.tp-leftarrow::after,
.tparrows.default.tp-leftarrow .tp-arr-allwrapper::before,
.tparrows.default.tp-leftarrow .tp-arr-allwrapper::after {
    right: 50%;
    left: auto;
}

/*ElevateZoom custom style*/



.parallax-gallery .nav-arrow.left.slick-next {
    left: -15px;
    right: auto;
}

.parallax-gallery .nav-arrow.right.slick-prev {
    right: -15px;
    left: auto;
}



.table-params td {
    border-right-color: #f0f0f0;
}


/* BADGES COLORS */

/* BANNERS COLORS */

/* BLOCKQUOTES COLORS */
blockquote.blockquote--wd p {
    border-right-color: #536dfe;
}

/* BLOG COLORS */

.post__meta--inline li {
    padding-left: 3px;
    padding-right: 0;
}

.audio-content {
    border-right-color: #f0f0f0;
}

.post--status {
    border-right-color: #536dfe;
}



/* PRELOADER COLORS */

/* LOOKBOOK COLORS */

.tool--left {
    right: 38px;
    left: auto;
}

.tool--left:before {
    right: -10px;
    left: auto;
}

.tool--left .tip {
    right: -4px;
    left: auto;
}



.panel-checkout .panel-heading {
    border-right-color: #fafafa;
}

.panel-checkout .panel-heading__number {
    border-left-color: #f0f0f0;
}

.panel-checkout .panel-heading.active .panel-heading__number,
.panel-checkout .panel-heading:hover .panel-heading__number {
    border-left-color: #879196;
}

/* PRODUCTS COLORS */

.product-preview__info__link--inline li {
    padding-left: 3px;
    padding-right: 0;
}


.product-carousel .product-preview__info div {
    text-align: center;
}
.input-group-qty .btn-number-container .btn-number {
    border-right-color: #e3e3e3;
}


/* TESTIMONIALS COLORS */

.testimonials__item-title {
    padding: 18px 25px 18px 45px;
}

.testimonials__item-title:after {
    left: 12px;
    right: auto;
}



.testimonials__item__row--icon {
    padding-right: 80px;
    padding-left: 0;
}


.testimonials__item__row--icon__icon {
    right: 0;
    left: auto;
}

/* SHOPPING PAGE */

/* TOOLS COLORS */

/* OTHER VENDORS COLORS */

.single-slider .slick-prev {
    right: 15px;
    left: auto;
}

.single-slider .slick-next {
    left: 15px;
    right: auto;
}

/****************************************
* Blog 
*****************************************/

/* ====== list-blog  ====== */

.list-blog .post .list-blog-img time {
    right: 22px;
    left: auto;
}

@media (max-width: 500px) {

.list-blog .post .list-blog-img time {
    right: 22px;
    left: auto;
}

}

/* ====== /list-blog  ====== */
/* ====== list-blog  ====== */

.list-recent-img time {
    right: 16px;
    left: auto;
}

/* ====== /list-blog  ====== */
/****************************************
* // End Blog 
*****************************************/
/****************************************
*  Blog Posts
*****************************************/

.post-img-full {
    margin-right: -50px;
    margin-left: -50px;
}

.panel-inside-the-post {
    margin-right: -50px;
    margin-left: -50px;
}

.panel-inside-the-post .panel {
    border-right: none;
    border-left: none;
}

.panel-inside-the-post .social-links--large ul .social-links__item {
    margin-left: 1.5em;
    margin-right: auto;
}

.blog-post-title__meta__image {
    margin-right: 0;
    margin-left: 20px;
}

.blog-post-title__meta__text__name {
    text-align: right;
}

blockquote cite {
    padding: 5px 30px 0 0;
    border-right: 4px solid #536dfe;
    border-left: none;
}
.rtl .page {
    direction: ltr;
}
.rtl .page > div div {
    direction: rtl;
}

#mega_main_menu.main-menu li.default_dropdown .mega_dropdown > li > .item_link {
    text-align: right;
}
#mega_main_menu #mega_main_menu_ul > li.menu-item-has-children > a:after {
    /*left: auto;*/
    /*right: 43% !important;*/
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:after {
    right: auto;
    left: 50%;
}
#slider-1-layer-8 {
transform: translate3d(70px, 0px, 0px) !important;
    
}
.price_slider_amount button {
    margin: 2px 0 0 15px;
}
.navbar.navbar-wd .dropdown-menu > li:hover .dropdown-menu.sub-menu {
    right: 100%;
    margin-right: 18px;
}
.shopping-cart__item__image.pull-left {
    float: right !important;
}
.product-info__sku.pull-right,
#productOther.product-other.pull-right {
    float: left !important;
}
.product-other__link.product-next:after {
  content: "\e602";
}
.product-other__link.product-prev:after {
  content: "\e603";
}
#mega_main_menu li.multicolumn_dropdown .mega_dropdown > li > .item_link {
    text-align: right !important;
    padding: 6px 0 6px 10px;
}

#mega_main_menu li.default_dropdown > .mega_dropdown > li > .item_link {
    margin: 0;
}
.header__dropdowns .header__cart.pull-left,
.header__dropdowns .header__search.pull-left {
    float: right !important;
}
.header__dropdowns .dropdown.pull-right {
    float: left !important;
}
.header__dropdowns .header__search + .dropdown.pull-right {
    margin-left: 23px;
}
.header__dropdowns__button {
    margin: 0;
}
.footer .social-links {
    text-align: right;
}
.testimonials__item__image-sell__author {
    text-align: center;
}
.header__search {
    margin: 0 12px 0 0px;
}
#slidemenu {
    margin-left: 25px;
}
.woocommerce-MyAccount-navigation > ul {
    border-left: 0;
    border-right: 3px solid #f0f0f0;
}
.header__dropdowns .pull-right > .dropdown-menu {
    right: auto;
    left: 3px;
}
#mega_main_menu .mega_main_menu_ul > li.default_dropdown > .mega_dropdown, #mega_main_menu .mega_main_menu_ul > li.default_dropdown > .mega_dropdown > li > ul {
    padding-left: 0;
    padding-right: 0;
}
/*@media (max-width: 767px) {
 .navbar #slidemenu {
    left: auto;
    right: 0 !important;
    float: right !important;
 }
}*/
@media screen and (max-device-width: 1023px) and (min-device-width: 768px) {
    body {
        direction: ltr !important;
    }
   /* #mega_main_menu.first-lvl-align-right > .menu_holder > .menu_inner > ul {
        width: auto;
        text-align: right;
    }
*/

}
@media (max-width: 767px) {
    /* body {
        direction: ltr !important;
    }*/
    .logo,
    .header__dropdowns .header__search + .dropdown.pull-right {
        margin-left: 0;
    }
    .header__dropdowns .header__search.pull-left {
        margin-right: 0;
    }
    .navbar .navbar-toggle {
        margin-right: 15px;
    }
    .row.hide-outer-animation .pull-left,
    .row.hide-outer-animation .pull-right {
        float: none !important;
    }
    .slick-prev {
        left: 0 !important;
        right: auto !important;
    }
     .back-to-top {
        left: 50%;
        right: auto;
    }
    .mobile-collapse__title::after {
        left: 15px;
        right: auto;
    }
    .subscribe-form .osd-subscribe > h2 {
        margin-right: 0;
    }
      #mega_main_menu.main-menu .caret.caret--dots {

      right: auto;
      left: 0;

  }
  .shopping-cart-table .input-group-qty {
    float: right !important;
    padding-left: 0;
    padding-right: 10px;
  }
  .shopping-cart-table .input-group-qty #qty {
    padding-right: 10px;
  }
  .blog-widget .blog-carousel .slick-prev {
    margin-left: -35px;
  }
}
.input-group-qty #qty {
    padding-right: 17px;
}
@media screen and (max-device-width: 1024px) and (min-device-width: 768px) {
    body {
        direction: ltr;
    }
    #mega_main_menu.first-lvl-align-right > .menu_holder > .menu_inner > ul {
        width: auto;
        text-align: right;
    }
     .widget.osd-subscribe .subscribe-form__label {
        margin-right: 0;
    }
    .osd-subscribe-form input[type="submit"] {
        margin-left: 10px;
    }
    .back-to-top {
        left: 50%;
        right: auto;
    }
    #slidemenu {
        float: right !important;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .row.hide-outer-animation .pull-left,
    .row.hide-outer-animation .pull-right {
        float: none !important;
    }
    .banner--icon__text.text-center > div {
        text-align: center !important;
    }
    .products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link {
        margin-left: 0;
        margin-right: 38%;
    }
}

#mega_main_menu li.default_dropdown > .mega_dropdown > .menu-item > .item_link > i {
    float: left;
    right: -8px;
}
#mega_main_menu li.multicolumn_dropdown .mega_dropdown li.default_dropdown > .mega_dropdown > li > .item_link.with_icon {
    padding-right: 20px;
}
/*#mega_main_menu li.multicolumn_dropdown > div > div > .mega_dropdown > li .mega_dropdown > li {
    width: 100% !important;
    margin-right: 0 !important;
}*/


@media (min-width: 768px) {
  .animated-arrows .slick-next {
    left: auto;
    /*right: -45px;*/
  }
}

@media (max-width: 767px) {

#slidemenu {
    margin-left: 0 !important;
}
.osd-subscribe-form {
    text-align: right;
}
#mega_main_menu li.default_dropdown > .mega_dropdown > .menu-item > .item_link > i {
    float: right;
    right: -8px;
}
#mega_main_menu li.multicolumn_dropdown .mega_dropdown li.default_dropdown > .mega_dropdown > li > .item_link {
    padding-right: 20px;
}
#mega_main_menu li.multicolumn_dropdown > div > div > .mega_dropdown > li .mega_dropdown > li {
    width: 100% !important;
    margin-right: 0 !important;
}

.woocommerce.welldone-category-slider .slick-prev, .brands.brands-carousel .slick-prev {
    left: 15px !important;
}
.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link {
    margin-left: 0;
    margin-right: 43% !important;
}
.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .compare-button, 
.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .yith-wcwl-add-to-wishlist {
    float: right;
}
.products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .buy-link {
    left: 15px;
    right: auto;
}
.product-preview__info__link a.compare.button, .product-preview__info__link a.add_to_wishlist {
    margin-left: auto;
    margin-right: -24px;
    text-align: right;
}
.products-listing.row-view .yith-wcwl-wishlistaddedbrowse.show {
    line-height: 14px;
    margin-left: 5px;
}
.yith-wcwl-add-button.hide {
    display: none !important;
}
.products-listing .product-preview .product-preview__info__link .buy-link {
    bottom: 0;
}

.woocommerce-page .woocommerce.welldone-category-slider .slick-prev {
    left: 0 !important;
}
.woocommerce-page .woocommerce.welldone-category-slider .slick-next {
    right: 0;
}

}
.navbar #slidemenu {
    padding-left: 40px;
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
     .products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .buy-link {
      left: 0px;
      right: auto;
      top: 25% !important;
    }
    #showFilter.btn {
        margin-left: 10px;
    }
    .products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .buy-link {
        top: 100%;
        position: relative;
        float: left;
    }
    .yith-wcwl-wishlistexistsbrowse.show {
        font-size: 10px;
        line-height: 10px;
    }
}
#products_container .filters-row .col-sm-4.col-md-5.col-lg-3.col-1 {
    text-align: left;
    padding-left: 0;
}
#comments h2.text-uppercase.text-left {
    text-align: right;
}
.widget_categories ul li {
    padding: 10px 15px 10px 0;
}
.widget_categories ul li:after {
    right: 0;
    left: auto;
}
#comments .row.comments > ul {
    float: right;
}
/* landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .products-listing.row-view .product-preview__info__description {
        text-align: right;
    }

}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {

 /*   .products-listing.row-view .product-preview__info__link {
      text-align: right;
    }
    .products-listing.row-view .yith-wcwl-wishlistexistsbrowse.show {
      font-size: 12px;
    }
    .products-listing.row-view .yith-wcwl-add-to-wishlist,
    .products-listing.row-view .product-preview__info__link .compare-button {
      margin-right: 20px;
    }*/
    .products-listing.row-view .outer form.cart {
        float: left !important;
    }
    .products-listing.row-view .outer form.cart .icon.icon-ecommerce {
        width: 28px;
    }
    .products-listing.row-view .yith-wcwl-add-to-wishlist {
        display: inline-block;
        width: 174px !important;
        text-align: right !important;
    }
    .products-listing.row-view .product-preview__info__link .compare-button,
    .products-listing.row-view .product-preview-wrapper .product-preview__info > div {
        text-align: right;
        padding-right: 30px;
        margin-left: 0;
    }
    .products-listing.row-view .yith-wcwl-wishlistaddedbrowse.show {
        line-height: 16px;
    }
}
@media (max-width: 560px) {
    .products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link {
        margin-right: 39% !important;
    }
    .products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .buy-link {
        left: 0;
        margin-left: 0;
        text-align: left;
    }
    .products-listing.row-view .yith-wcwl-wishlistexistsbrowse.show {
        /*position: relative !important;
        top: 15px;*/
    }
    .products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .compare-button, 
    .products-listing.row-view .product-preview-wrapper .product-preview__info .product-preview__info__link .yith-wcwl-add-to-wishlist {
        top: 24px !important;
        position: relative;
    }
}
#reviews .comments-list .comment .media-left {
    float: right;
    margin: 0px 0 0 15px;
    direction: rtl;
    text-align: right;
}
#reviews .comments-list .comment .media-heading {
    text-align: right;
}