/* 
 * 	Welldone theme - Owl Carousel CSS File
 */
.owl-welldone .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -11px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-welldone .owl-nav [class*='owl-'] {
	position: absolute;
	top: 0;
	font-family: 'Welldone';
	color: #ccc;
	font-size: 22px;
	line-height: 1em;
	cursor: pointer;
}
.owl-welldone .owl-nav .owl-next {
	right: -45px;
}
.owl-welldone .owl-nav .owl-prev {
	left: -45px;
}
.owl-welldone .owl-nav [class*='owl-']:hover {
	text-decoration: none;
}
.owl-welldone .owl-nav .owl-next:before {
	content: "\e602";
}
.owl-welldone .owl-nav .owl-prev:before {
	content: "\e603";
}
.owl-welldone .owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}
.owl-welldone .owl-nav.disabled + .owl-dots {
	margin-top: 10px;
}
.owl-welldone .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-welldone .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
 *display: inline;
}
.owl-welldone .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.owl-welldone .owl-dots .owl-dot.active span, .owl-welldone .owl-dots .owl-dot:hover span {
	background: #869791;
}
/*Arrow Top*/
.owl-welldone.nav-top .owl-nav {
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: -52px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-welldone.nav-top .owl-nav [class*='owl-'] {
	font-size: 16px;
}
.owl-welldone.nav-top .owl-nav .owl-next {
	right: 0;
}
.owl-welldone.nav-top .owl-nav .owl-prev {
	left: auto;
	right: 25px;
}