/* welldone Config Styles */
/* Created at 2017-06-27 16:18:08 */

/* theme general color customization todo:tahir code start here*/
body{
	font-family : Roboto;
	font-weight :400;
	color :#212121;
			line-height :1.4empx;
				font-size :1.3empx;
	}

/*Color Customization*/		.header-line {
			background-color:#2b383e;
		}
	
			.header-line a {
			color:#ffffff;
		}
	
			.header-line a:hover, 
		.header-line a:focus {
			color:#ffffff;
		}
	
	<!-- Header -->

	.navbar.navbar-wd {}
			.navbar.navbar-wd,
		.navbar.navbar-wd a,
		.header__dropdowns__button {
			color:#212121;
		}
	
			.navbar.navbar-wd a:hover {
			color:#212121;
		}
	
			#welldone_minicart_wrapper_content {
			background-color:#ffffff;
		}
	
			#welldone_minicart_wrapper_content,
		.shopping-cart a:not(.btn) {
			color:#212121;
		}
	
			.shopping-cart a:hover:not(.btn) {
			color:#536dfe;
		}
	
		#menu-main > li > a {
			color:#212121;
		}
	
			.navbar.navbar-wd .nav > li > a:hover{
			color:#536dfe;
		}
		
			.dropdown-menu > li > a:hover, 
		.dropdown-menu > li > a:focus {
			background-color:#f4f4f4;
		}
	
			.dropdown-menu > li > a, 
		.dropdown-menu > li > a {
			color:#212121;
		}
	
			.dropdown-menu > li > a:hover, 
		.dropdown-menu > li > a:focus {
			color:#212121;
		}
	
	#pageContent > .content {background-color :#FFFFFF;}

<!-- Footer Customization -->

		.footer__links {
			background-color:#eaeeef;
		}
	
			.footer__links a:not(.btn){
			color:#000000;
		}
		
			.footer__links a:not(.btn):hover {
			color:#000000;
		}
	
	<!-- Footer Middle -->
	
			footer__column-links {
			background-color:#374850;
		}
	
			.footer__column-links .title {
			color:#ffffff;
		}
	
			.footer__column-links {
			color:#ffffff;
		}
	
			.footer__column-links a:not(.btn) {
			color:#bbc2c6;
		}
	
			.footer__column-links a:not(.btn):hover {
			color:#bbc2c6;
		}
	
	<!-- Footer Bottom -->

			.footer__subscribe {
			background-color:#374850;
		}
	
			.footer__subscribe {
			color:#ffffff;
		}
	
	<!-- Footer Copyright Section -->
	
			.footer__bottom {
			background-color:#ffffff;
		}
	
			.footer__bottom {
			color:#2b2b2b;
		}
	
			.footer__bottom a {
			color:#2b2b2b;
		}
	
			.footer__bottom a:hover {
			color:#2b2b2b;
		}
	


