@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);


body {
  overflow-y: scroll;
  overflow-x: hidden;
}
.header {
  z-index: 1001;
}
.header-3 .header__cart.pull-left {
  float: right !important;
}

.page-content {
  margin-top: 0;
}

.entry-content:before {
  padding-top: 0 !important;
}

.col-md-3.sidebar.col-md-pull-9 .page-sidebar + .page-sidebar {
  margin-top: 50px;
}
.post .entry-media {
  padding-bottom: 12px;
}
.blog .blog-content .post__image {
  margin: 0;
}
.blog .blog-content .post__image + .entry-wrapper {
  margin-top: 20px;
}
.content--parallax--short {
  margin-top: 75px; 
}
.content--parallax--short .blog-post-title {
  text-align: center;
}
.content--parallax--short .blog-post-title em > a {
  color: #fff;
}
.post .entry-media audio {
  width: 100%;
}
.entry-media iframe {
  width: 100%;
  height: 430px !important;
}


.blog-widget__item__offset-text p {
  font-size: 1.077em !important;
  line-height: 1.429em !important;
  margin-bottom: 20px !important;
}

.banner.banner--image.hover-squared > p {
  margin: 0;
}

/* Post formats */

.audio-content {
  border-left-color: #f0f0f0;
}
.post.format-aside {
  background-color: #e1e8ed;
  border-left-color: #536dfe;
}
.post.format-quote {
  background-color: #2b383e;
  color: #ffffff;
}
.post.format-quote .post__meta {
  color: #ffffff;
}
.post.format-quote .post__meta a {
  color: #ffffff;
}
.post.format-quote blockquote:after {
  color: #ffffff;
}

.audio-content {
  position: relative;
  margin-left: 70px;
  margin-bottom: 35px;
  width: auto;
  padding-left: 15px;
  border-left-width: 1px;
  border-left-style: solid;
}
.audio-content:before {
  display: block;
  position: absolute;
  left: -70px;
  top: 10px;
  font-family: "Welldone";
  content: "\e671";
  font-size: 36px;
}
.post .embed-vimeo iframe,
.post .embed-youtube iframe {
  width: 100%;
}
.post.format-aside {
  padding: 50px 50px;
  /*margin-left: -50px;
  margin-right: -50px;*/
  border-left-width: 4px;
  border-left-style: solid;
}
.post.format-aside .post__meta {
  padding-bottom: 0;
}
.post.format-aside p {
  font-size: 26px;
  line-height: 1.2em;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 25px;
}
.post.format-quote {
  padding: 50px 50px;
  /*margin-left: -50px;
  margin-right: -50px;*/
}
.post.format-quote .post__meta {
  padding-bottom: 0;
}
.post.format-quote blockquote {
  font-size: 26px;
  line-height: 1.2em;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 25px;
  position: relative;
  padding-left: 50px;
  border-left: 0;
}
.post.format-quote blockquote:after {
  position: absolute;
  display: block;
  top: 4px;
  left: 0;
  font-family: Welldone;
  font-size: 32px;
  line-height: 1em;
  content: "\e63b";
}
.post.format-quote blockquote cite {
  font-size: 13px;
  padding: 0;
  border: 0;
}
.post--format-link .post__title {
  display: inline-block;
  font-size: 2em;
  line-height: 1.2em;
  font-style: italic;
  padding-right: 20px;
}
.post--format-link .post__meta {
  display: inline;
}

.post.format-quote blockquote cite:before {
  content: none;
}

.post.format-quote .post__title,
.post.format-quote .post__title a {
  color: #fff;
}
.post.format-quote .blog-post-title__meta__text__name,
.post.format-quote .blog-post-title__meta__text__name a {
  color: #fff;
}
.list-blog .post.post.format-aside .post__meta,
.list-blog .post.format-quote .post__meta {
  border-top: 0;
}

.post.format-link .post__title {
  display: inline-block;
  font-size: 2em;
  line-height: 1.2em;
  font-style: italic;
  padding-right: 20px;
}
/*.post.format-link .post__meta {
  display: inline;
}*/

/* Comments Template */

.comments__comment__userpic > img.avatar {
  border-radius: 50%;
  line-height: 73px;
  margin-top: 13px;
  text-align: center;
  vertical-align: baseline;
}
.comments__comment__text .comment-reply-link {
  color: #fff;
}
.comments__comment__text .comment-reply-link {
  text-decoration: none;
}
.comments__comment__text .comment-edit {
  line-height: 22px;
  margin-left: 15px;
  /*float: right;*/
}
.comment-form {
  margin-bottom: 15px;
}
.comment-form .input--wd,
.comment-form .textarea--wd {
  margin-bottom: 15px;
}
.comment-form .form-submit {
  text-align: center;
}

.widget_categories ul {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}
.widget_categories ul li {
  position: relative;
  padding: 10px 0 10px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
}
.widget_categories ul li:last-child {
  border: 0;
}
.widget_categories ul li a {
  text-decoration: none;
}
.widget_categories ul li:after {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  content: "»";
}

/*delete after set color settings in theme options*/
.widget_categories ul li {
  border-bottom-color: #f0f0f0;
}
.widget_categories ul li a:hover {
  color: #536dfe;
}
/*///////////////*/

/*Widget Calendar*/

#wp-calendar {
  width: 100%;
}

.widget_calendar caption {
  font-size: 16px;
  padding: 0 0 10px;
  text-transform: uppercase;
}
.widget_calendar td#prev {
  font-size: 16px;
  padding: 15px 0 0;
  text-transform: uppercase;
}
.calendar table {
  border-collapse: collapse;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  width: 100%;
  max-width: 350px;
}
.widget_calendar th,
.widget_calendar td {
  border: 0;
  cursor: pointer;
  line-height: 22px;
}
/*.widget_calendar tr:first-child td {
  font-weight: 700;
  padding-bottom: 10px;
}*/
.widget_calendar #today {
  font-weight: bold;
}

.widget_calendar table {
  /*background: #fff;*/
  color: #222;
}
.widget_calendar th,
.widget_calendar td {
  color: #000;
}
.widget_calendar tr:first-child td {
  color: #222;
}

/*Tag Cloud Widget */

.wp-tag-cloud {
  position: relative;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.wp-tag-cloud li {
  display: inline-block;
  padding: 0;
  margin-bottom: 2px;
}
.wp-tag-cloud li a {
  display: block;
  border-width: 1px;
  border-style: solid;
  font-size: 0.923em;
  line-height: 1.8em;
  padding: 2px 10px 0;
  text-decoration: none;
  -webkit-transition:  all 200ms 0s ease;
  -moz-transition:  all 200ms 0s ease;
  -ms-transition:  all 200ms 0s ease;
  -o-transition:  all 200ms 0s ease;
  transition:  all 200ms 0s ease;
  text-transform: uppercase;
  border-color: #d3d3d3;
  line-height: 0.9em;
  padding: 7px 10px;
}
.wp-tag-cloud li a:hover {
  color: #ffffff;
  background-color: #536dfe;
  border-color: #536dfe;
}

nav.navbar-nav > ul > li {
  list-style: none;
}

/*woocommerce*/

.filters-row__select form {
  position: relative;
  display: inline-block;
}

.price-box ins {
  text-decoration: none;
}
.price-box ins span {
    color: #F55582;
    font-weight: bold;
}
.price-box del span {
    font-size: 0.95em;
    text-decoration: line-through;
}

.filters-row__select .select--wd {
  font-size: 13px;
  height: inherit;
  padding: 6px 20px 6px 10px;
}
.filters-row__select .filter-row-box {
  display: inline-block;
}
div[itemprop="description"] + .product-info__sku,
div[itemprop="description"] + .product-info__sku + .price-box,
.single-product div[itemprop="description"] + div + ul + div.product-info__price,
div[itemprop="description"] + .product-info__price,
.quick-view .input-group-qty,
.quick-view div[itemprop="description"] + .product-info__price,
.quick-view div[itemprop="description"] + .product-info__sku,
.quick-view div[itemprop="description"] + .product-info__sku + .price-box {
  display: none;
}
.selector-wrapper select {
    width: 100%;
    padding: 12px;
    line-height: 1.1em;
    box-shadow: none !important;
    border: 1px solid #E3E3E3;
    white-space: nowrap;
    border-radius: 4px;
    outline: medium none;
    background: #FFF;
    color: #2B2B2B;
    cursor: pointer;
    /*-moz-appearance: none;
    -webkit-appearance: none;*/
}
.selector-wrapper + .selector-wrapper {
  margin-top: 15px;
}

.order-total.grandtotal-row h2 strong {
  font-weight: normal;
}
.shopping-cart__bottom .dropdown-subtotal {
  margin-bottom: 9px;
}
#welldone_minicart_wrapper_content .cart-total {
  margin-top: 13px;
}
.filters-row__select .btn.sort {
  vertical-align: baseline;
  padding: 9px 16px;
}
.quick-view .product-box,
.quick-view .woocommerce-review-link  {
  display: none;
}
.quick-view .yith-wcwl-add-to-wishlist {
  overflow: hidden;
  /*padding-top: 20px;*/
  /*width: 100%;*/
}
.quick-view .compare.button:hover {
  text-decoration: none;
}
.quick-view .compare.button:before {
  content: "\e607";
  color: #D3D3D3;
  font-family: "Welldone";
  padding: 0px 5px;
}
#colorbox, #cboxOverlay, #cboxWrapper {
  z-index: 100000;
}
table.compare-list tr:last-child th, 
table.compare-list tr:last-child td, 
table.compare-list tr:last-child th, 
table.compare-list tr:last-child td {
  border-top: medium none;
}

.quick-view form.cart {
  overflow: hidden;
}
.quick-view .woocommerce-variation.single_variation {
  display: none;
}
/*.quick-view .variations_form,*/
.products-listing .variations_form {
  display: none;
}
/*row-view*/
.products-listing.row-view .product-preview__info__link {
  display: block !important;
  margin-left: 0;
  padding-left: 0 !important;
}
.products-listing.row-view .yith-wcwl-add-to-wishlist {
  margin-top: 0;
}
.products-listing.row-view .variations_form {
  display: block;
}
.products-listing.row-view .row.variations + .divider.divider--sm {
  display: none;
}

.products-listing .quantity-control, 
.products-listing .product-preview__info__description {
  display: none;
}
/*.products-listing .buy-link {
  visibility: hidden;
  padding: 0px;
  font-size: 0px;
}*/
.product-carousel .outer {
  display: none;
}

.products-listing.row-view .product-preview__info__link .outer {
  display: block !important;
}

.products-listing.row-view .product-preview__info__description {
  display: block;
}
.products-listing .yith-wcwl-add-to-wishlist + div.clear {
  display: none;
}
.products-listing .buy-link .product-preview__info__link__text {
   text-transform: uppercase;
}
.quick-view .buy-link .icon-ecommerce {
  display: none;
}
.products-listing.row-view .product-preview__info__link .icon {
  padding: 0;
}

/*Price Slider Widget*/

.ui-slider-horizontal{
    height: 5px !important;
    border-radius: 0px !important;
    background: #e9e9e !important;
    border: 0px none !important;
}

.ui-widget-header{
    background: #81818 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    width: 19px !important;
    height: 21px !important;
    border-radius: 2px !important;
    border: 1px solid #cfcfcf !important;
    background: #f9f9f9 !important;
    top: -8px !important;
}

.ui-slider-handle:before {
    border: 1px solid #e0e0e0;
    position: absolute;
    top: 7px;
    left: 5px;
    content: " ";
    font-size: 0;
    line-height: 0;
    display: block;
    height: 5px;
    width: 3px;
    border-bottom: 0;
    border-top: 0;
}

.ui-slider-handle:after {
    border: 1px solid #e0e0e0;
    position: absolute;
    top: 7px;
    left: 9px;
    content: " ";
    font-size: 0;
    line-height: 0;
    display: block;
    height: 5px;
    width: 3px;
    border-bottom: 0;
    border-top: 0;
}
.price_slider_amount button{
    float: right;
    margin: 2px 0;
    background-color: #536dfe;
    color: #fff !important;
    height: auto;
    font-size: 13px;
    vertical-align: baseline;
    padding: 8px 16px;
    outline: none !important;
    border: none !important;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
}
.price_slider_amount button:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.yith-wcan-reset-navigation.button,
.woocommerce table.wishlist_table .add-to-cart-product .button.add_to_cart_button {
  padding: 8px 16px;
  height: auto;
  font-size: 13px;
  line-height: 1em;
  border: 0;
  border-radius: 3px;
  background-image: none;
  background-color: #536dfe;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 300ms 0s ease;
}
.yith-wcan-reset-navigation.button:hover,
.woocommerce table.wishlist_table .add-to-cart-product .button.add_to_cart_button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-decoration: none;
}
.filters-col__collapse__content li.chosen {
  list-style: none;
}
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li a {
  padding: 2px 5px !important;
}
.woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover, 
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, 
.woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a, 
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a {
  border-width: 1px;
  border-style: solid;
  border-color: #536dfe;
  background-color: #536dfe;
}

/*Price Slider*/
.price_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background: transparent;
    padding: 0px;
    position: relative;
}
.price_slider_amount {
    margin-top: 25px;
}
div.price_slider_amount .price_label {
    font: 400 14px/37px 'Raleway', Verdana;
  color: #4c4c4c;
}
.ui-slider-range.ui-widget-header.ui-corner-all {
    position: relative;
    background: #a2a7a9;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    height: 9px;
}
.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #ca1515;
    width: 8px;
    position: absolute;
    top: -3px;
}
.ui-slider-handle {
    background: #ca1515;
    position: absolute;
    height: 20px;
}
span.ui-slider-handle.ui-state-default {
    width: 8px;
    height: 8px;
}
.price_slider_amount > span + span {
  -webkit-transform: translateX(-19px);
  transform: translateX(-19px);
}
ul.yith-wcan-list {
    overflow: hidden;
}
ul.yith-wcan-list li {
    width: 50%;
    float: left;
}
small.count {
    display: none;
}

/*// End m price slider   //*/


/*Prod Categories*/
.widget_layered_nav ul li,
.product-categories .cat-item {
  margin: 0 0 5px;
  text-transform: uppercase;
  list-style: none;
}

/*Tags*/

.tags-list li a {
  font-size: 0.923em !important;
}
.filters-col__collapse__content.tags-list {
  padding-bottom: 15px;
}


/*single product quantity*/

.input-group-qty #qty {
  width: 62px;
  text-align: center;
  padding-right: 22px;
  padding-left: 5px;
  z-index: 0;
}
.input-group-qty {
  padding-right: 10px;
}
.input-group-qty .btn-number-container {
  position: relative;
}
.input-group-qty .btn-number-container .btn-number {
  position: absolute;
  left: -18px;
  width: 18px;
  height: 21px;
  padding: 0;
  line-height: 18px;
  border-left-width: 1px;
  border-left-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
  background: none;
  border-radius: 0;
}
.input-group-qty .btn-number-container .btn-number--minus {
  top: 19px;
}
.input-group-qty .btn-number-container .btn-number--plus {
  top: 0;
}

.product-top .product-box,
.product .product-main-image__item .product-box {
  display: none;
}
.zoomContainer {
  z-index: 999 !important;
}
.product-main-image__zoom {
  z-index: 1001 !important;
}


.single-product .widget_text .widget-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.692em;
  padding: 0 0 1.5em;
  margin: 0;
}

/*.single-product .product-deails .compare.button,
.single-product .product-deails .add_to_wishlist {
  color: #ADADAD;
}

.single-product .product-deails .compare.button .icon {
  padding: 0px 5px;
  vertical-align: baseline;
}*/

.single-product .product-details .outer {
  margin-bottom: 20px;
}
.single-product .product-details .single_variation_wrap .outer {
  margin-bottom: 12px;
}
.single-product .product-details .variations .reset_variations {
  position: absolute;
  left: 15px;
  bottom: -22px;
  line-height: 1;
}

.single-product .summary .product_meta {
  margin-top: 0;
}

.single-product .product-carousel .welldone_product .row.variations {
  display: none;
}

.product-links {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.846em;
  text-transform: uppercase;
}
.yith-links .icon {
  padding: 0 5px;
  vertical-align: baseline;
}
.yith-links {
  padding-bottom: 1em;
  display: inline-block;
  padding-right: 3px;
}
.yith-links a:hover {
  color: #212121;
}
.yith-links a,
.yith-links a:hover .icon-bars {
  text-decoration: none;
  color: #ADADAD;
}

/*Product review*/

#reviews .comments-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
#reviews .comments-list > li + li {
  margin-top: 40px;
}
#reviews .comments-list .comment .media-left {
  display: inline-block;
  /*width: 70px;*/
  float: left;
  margin: 0px 15px 0 0;
}
#reviews .comments-list .comment .media-left img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition:  box-shadow 300ms 0s ease;
  -moz-transition:  box-shadow 300ms 0s ease;
  -ms-transition:  box-shadow 300ms 0s ease;
  -o-transition:  box-shadow 300ms 0s ease;
  transition:  box-shadow 300ms 0s ease;
}
#reviews .comments-list .comment .media-left img:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#reviews .comments-list .comment .media-heading {
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  padding-bottom: 4px;
  font-style: italic;
  text-transform: uppercase;
}
#reviews .comments-list .comment time > time {
  font-size: 0.923em;
  font-family: "Roboto",sans-serif;
}
#reviews .comments-list .comment .product-ratings {
  padding-bottom: 4px;
}
#reviews #review_form_wrapper {
  margin-top: 45px;
}
#reviews #review_form a[class^="star-"] {
  padding-right: 2px;
  font-size: 0;
  color: #9a9a9a;
}
#reviews #review_form a[class^="star-"]:before {
  font-size: 13px;
}
#reviews  #review_form a[class^="star-"]:hover {
  opacity: 1;
}

/*//*/

#reviews #commentform .product-ratings {
    display: block;
    font-size: 0;
    margin-bottom: 9px;
}
#reviews #commentform .product-ratings .star:last-child {
    margin-right: 0;
}
#reviews #commentform .product-ratings .star:before {
    content: "\e646";
}
#reviews #commentform .product-ratings .star:hover {
    cursor: pointer;
}
#reviews #commentform .product-ratings .star.active:hover {
    cursor: default;
}

#reviews #commentform .stars.product-ratings>span:hover > a,
#reviews #commentform .stars.product-ratings>span > a.active,
#reviews #commentform .stars.product-ratings>span > a.prev_active {
    opacity: 1;
}
#reviews #commentform .stars.product-ratings >span>a:hover ~ a:before {
    opacity: .5;
}

#reviews .comment-form-comment {
  margin-top: 40px;
}


.product-slider-title {
  padding-bottom: 50px;
}
/*//////////////////      /////////////////*/


/*=================================================
* QUICK VIEW
=================================================*/

.overlay-popup{

  background: white;
    margin-top: 58px;
    width: 80%;
    margin: 0 auto;
  padding: 57px 40px;

}
.single-product .product-tab-carousel .quick-button{
    display:none;
}
div.overlay-popup .woocommerce-tabs.row{
  display:none;
}
.mypopup{
  position:relative;
  top:44px;
}
.woocommerce.quick-button {
    position: absolute;
    z-index: 99;
    opacity: 0;
    left: 0;
    right: 0;
    top: 4%;
  margin: auto;
    max-width: 90px;
}

.bootstrap-touchspin.bpp>span:first-child {
    display: none;
}

.input-group.bootstrap-touchspin.bpp>span:last-child {
    display: none;
}
.mfp-container .product-type-grouped .bootstrap-touchspin.bpp>span:first-child{
display: table-cell;
}
.mfp-container .product-type-grouped .bootstrap-touchspin.bpp>span:last-child{
display: table-cell;
}

.product-top:hover .woocommerce.quick-button{
opacity:1;
}
.mypopup .product-gallery-container {
    margin-bottom: 0 !important;
}

.mypopup .product {
    margin-bottom: 0 !important;
}

.product-quick {
  padding: 0px 20px;
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.product-quick .gallery_images {
    float: left;
    width: 74px;
    padding-right: 8px;
    /*padding-top: 12px;*/
}

#product-container .quick-button{
  display:none;
}
/*---------- toggle off CSS------------*/
.title-pan {
  padding: 0px 0px 0px 0px !important;
}
.menudrop {
  width: 200px;
}
.menudrop li a i {
  float: right;
}
/*--------SHIP_TO_DIFFERENT------------*/
.shiptodiff {
  margin-top: -85px;
}







/* Product Singe (product.html) ---------
---------------------------------------*/

.zoomWindowContainer > div {
    border: 4px solid #ebebeb;
}
/*.product-gallery-container {
    margin-bottom: 40px;
}*/
.product-details {
    margin-bottom: 50px;
}
/*@media (min-width: 992px) {
    .product-gallery-container {
        margin-bottom: 65px;
    }
}*/
.product-gallery-container .product-top {
    position: relative;
    margin-bottom: 0;
}
.product-gallery-container img {
    display: block;
    width: 100%;
    height: auto;
}
.product-gallery-wrapper {
    margin-top: 15px;
}
.product-gallery-container .product-box {
    position: absolute;
    left: 17px;
    top: 17px;
    font-size: 16px;
    line-height: 70px;
    min-width: 70px;
}
.product-gallery-container .product-box.top-right {
    left: auto;
    right: 17px;
}
.product-gallery-container .product-box.bottom-right {
    top: auto;
    left: auto;
    right: 17px;
    bottom: 17px;
}
.product-gallery-container .product-box.bottom-left {
    right: auto;
    left: 17px;
    top: auto;
    bottom: 17px;
}
.product-gallery-container .product-box.outofstock-box {
    font-size: 16px;
    line-height: 20px;
    padding: 27.5px 0;
    min-width: 95px;
    left: 50%;
    top: 50%;
    margin-top: -47.5px;
    margin-left: -47.5px;
}
/*.product-details .product-title {
    font-size: 30px;
    line-height: 42px;
    color: #3d3d3d;
    font-weight: 400;
    margin-bottom: 5px;
}*/
.single-product .product-info__rating .product-ratings {
  display: inline-block;
}
.product-details .product-ratings-count {
    color: #ADADAD;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    margin-left: 10px;
}
.product-details .product-ratings-count:hover {
  color: #212121;
  text-decoration: none;
}
.product-details .product-cats {
    margin-bottom: 20px;
}
.product-details .product-cats a {
    font-size: 14px;
    font-weight: 400;
    color: #949494;
    text-transform: capitalize;
}
.product-details .product-cats a:hover,
.product-details .product-cats a:focus {
    color: #ca1515;
}
div[itemprop="description"],
.product-info__description {
  line-height: 1.231em;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
/*
.product-details .product-ratings-container {
    margin-bottom: 24px;
    font-size: 0;
}
.product-details .product-ratings {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 14px;
}
.product-details .product-ratings .star {
    color: #313131;
}
.product-details p {
    margin: 0 0 10px;
}
.product-details .product-price-container {
    margin-bottom: 10px;
}
.product-details .product-price-container del
/*.product-old-price,*/

.product-details .product-price-container ins,
.product-details .product-price-container .amount
/*.product-price*/

{
    line-height: 30px;
    font-family: 'Lato', Verdana;
}
.product-details .product-old-price,
.product-details .product-price-container del>.amount {
    color: #9c9c9c;
    font-weight: 400;
    font-size: 16px;
}
.product-details .product-price-container del{
  color: #9c9c9c;
}

.product-details .product-price,
.product-details .product-price-container ins>.amount,
.product-details .product-price-container .price>.amount {
    font-size: 18px;
    font-weight: 700;
    color: #262626;
    margin-left: 0px;
  vertical-align: middle;
}*/
.group_table.table>tbody>tr>td ,.group_table.table>tbody>tr>th{
    padding:0;
    vertical-align: middle;
}

.group_table.table>tbody>tr>td.label{
    
    padding:4.5px 11px;
}
.product-details label.input-desc {
    font-size: 14px;
    margin-bottom: 4px;
}
.product-details .filter-size-container,
.product-details .filter-color-container {
    margin-bottom: 12px;
}
.product-quantity-wrapper {
    margin-top: -4px;
    margin-bottom: 27px;
}
.product-quantity {
    max-width: 117px;
}
.product-quantity-wrapper .input-group {
    margin-bottom: 0;
}
.product-details .product-action {
    margin-bottom: 30px;
}
.product-details .product-tags {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    color: #808080;
    margin-bottom: 22px;
}
.product-details .product-tags > span {
    color: #262626;
    margin-right: 6px;
}
.product-details .product-tags a {
    color: #808080;
}
.product-details .product-tags a:after {
    content: '/';
    padding: 0 4px;
}
.product-details .product-tags a:last-child:after {
    content: '';
    padding: 0;
}
.product-details .product-tags a:hover,
.product-details .product-tags a:focus {
    color: #212121;
    text-decoration: none;
}
.products-list .product-price,
.products-list .product-price-container ins>.amount,
.products-list .product-price-container >.amount {
    font-size: 13px;
}
.products-list .product-old-price,
.products-list .product-price-container del>.amount {
    font-size: 13px;
}







/*===========8=====================*/
/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.85;
    filter: alpha(opacity=85); }

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; }

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.mfp-align-top .mfp-container:before {
    display: none; }

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto; }

.mfp-ajax-cur {
    cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
    cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }

.mfp-loading.mfp-figure {
    display: none; }

.mfp-hide {
    display: none !important; }

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044; }
.mfp-preloader a {
    color: #CCC; }
.mfp-preloader a:hover {
    color: #FFF; }

.mfp-s-ready .mfp-preloader {
    display: none; }

.mfp-s-error .mfp-content {
    display: none; }

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none; }
button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace; }
.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
.mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
    color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%; }

.mfp-counter {
    position: absolute;
    top: 5px;
    right: 0;
    color: #eaeaea;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap; }

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.mfp-arrow:active {
    margin-top: -54px; }
.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
.mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
.mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
    left: 0; }
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
    right: 0; }
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
.mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
    line-height: 0; }
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
.mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto; }

.mfp-title {
    text-align: left;
    margin-top:5px;
    font:600 13px/20px 'Raleway', Verdana, sans-serif;
    letter-spacing: 0.4px;
    color: #fff;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-title .image-source-link {
    text-transform: lowercase;
    display:none;
}

@media ( min-width:768px ){
    .mfp-title .image-source-link {
        display:inline;
    }
}



.mfp-image-holder .mfp-content {
    max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
         * Remove all paddings around the image on small screen
         */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0; }
    .mfp-img-mobile img.mfp-img {
        padding: 0; }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px; }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0; }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px; }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0; }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75); }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0; }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%; }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px; }
}

.mfp-ie7 .mfp-img {
    padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
    padding: 0; }
.mfp-ie7 .mfp-content {
    padding-top: 44px; }
.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}

#test-form{
    background: white;
    padding: 20px 30px;
    text-align: left;
    max-width: 700px;
    margin: 40px auto;
    position: relative;
}

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;



    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);

    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.85;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}



/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;

    -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.85;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}

/* Simple fade transition
*/
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.85;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/*product shortcodes*/

@media (min-width: 768px) {
  .animated-arrows .slick-prev,
  .animated-arrows .slick-next {
    width: 40px;
    height: 40px;
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px) !important;
  }
  .animated-arrows .slick-prev {
    left: -45px;
  }
  .animated-arrows .slick-next {
    right: -45px;
  }
}


.product-category__info__ribbon {
  margin-bottom: 18px !important;
}
.product-category__info__ribbon__count mark {
  background: transparent;
}
.product-category.hover-squared img {
  height: auto;
}



/*Rev Slider Custom Styles*/

.rev_slider .btn.btn--wd {
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
transition: box-shadow 300ms 0s ease !important;
}
.rev_slider .btn.btn--wd:hover {
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

/*Home*/ 

.home .breadcrumbs + .content,
.woocommerce-account .breadcrumbs + .content {
  padding-top: 0 !important;
}
.home .breadcrumbs {
  display: none;
}
.home .content.content--parallax.top-null {
    padding: 60px 0 70px 0 !important;
}


@media (min-width: 768px) {
  /*.product-carousel.slick-slider:not(.nav-top) {
    margin-left: -12px !important;
    margin-right: -12px !important;
  }*/
 /* .product-category-carousel.slick-slider {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }*/
}



/*Modal popup newsletter*/


body.modal-open {
  overflow-y: scroll;
  padding-right: 0 !important;
}
.modal {
  z-index: 10003;
  text-align: center;
  padding: 0 !important;
}

.yithpopup_wrapper {
  width: 940px;
  max-width: 90%;
  -webkit-transition:  all 300ms 0s ease;
  -moz-transition:  all 300ms 0s ease;
  -ms-transition:  all 300ms 0s ease;
  -o-transition:  all 300ms 0s ease;
  transition:  all 300ms 0s ease;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  /* Adjusts for spacing */
}
.yithpopup_wrapper {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
}

.yithpopup_wrapper .modal-content {
  padding: 35px 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0;
}
.modal button.close {
  margin: -20px -5px 0 0;
  font-size: 14px;
  opacity: 1;
}
.yithpopup_wrapper {
  /*width: auto !important;*/
  width: 678px;
  max-width: 678px;
  position: relative;
  padding: 0;
}
.modal--bg .modal-header {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  border: 0;
  padding: 14px;
}
.modal--bg .modal-header button.close {
  margin: 0;
  font-size: 20px;
  opacity: 1;
}
.yithpopup_wrapper .modal-content {
  text-align: center;
  background: transparent;
  border: 0;
  width: 100%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
@media (min-width: 768px) {
  .yithpopup_wrapper {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .yithpopup_wrapper .modal-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 75px;
  }
}
@media (max-width: 991px) {
  .yithpopup_wrapper .modal-content {
    padding: 0 25px;
  }
}
@media (max-width: 767px) {
  .yithpopup_wrapper .modal-content {
    padding: 45px 15px;
  }
}
.yithpopup_wrapper .modal-content h1,
.yithpopup_wrapper .modal-content h2,
.yithpopup_wrapper .modal-content h3 {
  padding-bottom: 15px;
}
.yithpopup_wrapper .modal-content input {
  max-width: 400px;
  margin: 25px 0 20px 0;
  padding: 14px 15px;
  height: 44px;
}
.modal--bg .modal-body {
  padding: 0;
}
.modal--bg .modal-footer {
  border: 0;
}
.modal--bg .popup-dont-show {
  position: absolute;
  bottom: 40px;
  left: 20px;
  text-align: left;
  color: #3b3434;
  font-size: 10px;
  font-weight: 300;
}

p#yith-popup-message {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    min-height: auto;
}
#yith-popup-title {
  font-weight: 300 !important;
  top: 0;
}

#yithhider_yith-popup {
  font-size: 1.214em !important;
  line-height: 1em !important;
  height: 40px;
  border-radius: 3px !important;
  vertical-align: top !important;
  border: 0 !important;
  text-transform: uppercase;
  display: inline-block !important;
  margin: 0 !important;
  font-weight: normal !important;
  text-align: center !important;
  white-space: nowrap !important;
  position: relative !important;
  overflow: hidden !important;
  padding: 12px 14px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  transition:  box-shadow 300ms 0s ease;
  left: -172px !important;
}

#yithhider_yith-popup:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/*hidden name*/
#name_yith-popup {
  display: none;
}
.yithpopup_wrapper a.close {
  top: 14px !important;
  right: 0 !important;
  background-image: none !important;
}

/*Create account*/
.woocommerce .card--form .contact-form .input-group {
  display: inline-block;
}
.contact-form legend {
  border-bottom: none;
}
.checkout .panel-checkout .select2-container,
.form_edit_address .select2-container {
  border: 0;
  padding: 0;
}
.checkout .panel-checkout .select2-container .select2-choice,
.form_edit_address .select2-container .select2-choice {
  padding: 11px 0 11px 8px;
  border: 1px solid #e3e3e3;
}
.form_edit_address .form-row abbr[title],
  .checkout .panel-checkout .form-row abbr[title] {
    border-bottom: none !important;
  }
@media (min-width: 768px) {
  .form_edit_address .form-row,
  .checkout .panel-checkout .form-row {
    width: 50%;
  }
}
.panel-group .panel + form.woocommerce-checkout,
.woocommerce > .checkout .panel-group + .woocommerce-checkout-review-order,
.woocommerce > .checkout .woocommerce-checkout-review-order .panel + .panel {
    margin-top: 5px;
}
.woocommerce > .checkout {
  margin-bottom: 20px;
}
.woocommerce > .checkout .panel-group,
.woocommerce > .checkout .woocommerce-checkout-review-order > .panel {
  margin-bottom: 0;
}
.wpcf7-form-control-wrap.input-group.input-group--wd {
  margin-bottom: 45px;
}
.wpb_gmaps_widget {
  margin-bottom: 0;
}
.wpb_gmaps_widget .wpb_wrapper {
  padding: 0;
}
.card--icon__cell .icon:before {
  margin-left: 16px;
}
.yithpopup_wrapper a.close {
    margin: 0;
    font-size: 20px;
    opacity: 1;
}
@media (max-width: 990px) {
  .woocommerce-account #customer_login .col-2 {
    margin-top: 50px !important;
  }
}
@media (max-width: 768px) {
  .woocommerce-account #customer_login .col-1,
  .woocommerce-account #customer_login .col-2 {
    float: none;
  }
  .woocommerce-account #customer_login .col-2 {
    margin-top: 50px !important;
    /*margin-left: 16.66666667%;*/
  }
}
@media (max-width: 480px) { 
  .woocommerce-account #customer_login .col-1,
  .woocommerce-account #customer_login .col-2 {
    width: 100%;
    /*margin-left: 0;*/
    margin-bottom: 50px;
  }
}
#collapse-login .form-group .custom-checkbox-wrapper {
  margin: 8px 0 0 15px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
      right: auto;
      left: 0;
  }
}

.popup-dont-show {
  position: absolute;
  bottom: 40px;
  left: 20px;
  text-align: left;
  color: #3b3434;
  font-size: 10px;
  font-weight: 300;
}
.footer .widget {
  margin-bottom: 0;
}
.footer .widget .title + ul,
.footer .widget_categories ul,
.footer .widget_archive ul,
.footer .widget_product_categories ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .widget_archive ul li,
.footer .widget_categories ul li,
.footer .widget_product_categories ul li {
padding: 0 0 4px;
font-weight: lighter;
color: #bbc2c6;
text-transform: none;
border-bottom: none;
}
.footer .widget_categories ul li::after {
  content: none !important;
}
.footer .widget_categories ul li:hover {
  color: #bbc2c6;
  text-decoration: underline;
}
.footer .widget_categories ul li a:hover {
  color: #bbc2c6 !important;
}

.archive.tax-product_cat .welldone_product {
  width: 25%;
  padding-left: 15px;
  max-width: none;
  padding-right: 15px;
}
/*.archive.tax-product_cat .filters-row {
  display: none;
}*/
.archive.tax-product_cat .product-preview__info__link .stock,
.archive.tax-product_cat .product-preview__info__link .variations_form,
.archive.tax-product_cat .product-preview__info__link .outer {
  display: none !important;
}
.breadcrumbs + .content > .container > .row > div > .content {
  padding-top: 0;
}
.product-carousel .row.variations,
.product-carousel .variations_form.cart {
  display: none;
}
/*.pad-cust1 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 -15px !important;
}*/
body .single-post .content--parallax--short {
  padding: 60px 0 50px !important;
}
.testimonials__item__text {
  margin:17px 15px !important ;
}
.products-widget .slick-slider,
.testimonials-carousel {
  margin-left: 0 !important ;
  margin-top: 0;
  margin-right: 0 !important  ;
}

ul.product-categories,
ul.filters-col__collapse__content {
  padding-left: 0;
}
.page-header {
  margin-top: 0;
}
.blog-widget .slick-list {
  padding-bottom: 0 !important;
}
/*#pageContent > .content:last-child, #pageContent > .content:last-of-type {
  padding-top: 0 !important;
}*/
/*.top-null-section {
  margin-top: -85px !important;
}*/
nav.pagination-container .pagination {
  float: right;
}
.navbar .nav > ul > li {
  list-style: none;
}
.banner--icon__icon {
  width: 2.1em;
}
.home .content.content--parallax.top-null.pb35 {
padding-bottom: 35px !important;
}

.archive.post-type-archive.post-type-archive-product {
  background-color: #f4f4f4;
}
.archive.tax-product_cat section.content + section.content,
.archive.post-type-archive.post-type-archive-product section.content + section.content {
  padding-top: 0 !important;
}
.tar {
  text-align: right;
}
.tar .pagination {
  display: inline-block;
}
.single-product .product-details div[itemprop="description"] {
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.single-product .product-details div[itemprop="description"] > p {
  margin-bottom: 0;
}
.single-product .product-info .summary.entry-summary {
  margin-top: 0;
}

.single-post .post__view-btn {
  display: none;
}
.quick-view div[itemprop="description"] + .product-info__price {
  display: none;
}
.vc_row.vc_hidden[data-vc-full-width] {
  opacity: 1 !important;
}

.wpb_widgetised_column_heading {
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.692em;
  line-height: 1.1;
  padding: 0 0 1.5em;
  margin: 0;
  text-transform: uppercase;
}

/*Shortcode content-product*/

/*product*/
.welldone_product {
  float: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding-bottom: 20px;
}
.slick-slider .welldone_product {
  float: left;
  margin-right: 0;
}
.products-isotope {
  margin-right: -20px;
}
.one-in-row.product-carousel .welldone_product {
  display: block;
  margin-right: 0;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .one-in-row.product-carousel .welldone_product {
    max-width: 360px;
    margin: 0 auto;
  }
}
.two-in-row.product-carousel .welldone_product {
  max-width: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 480px) {
  .two-in-row.product-carousel .welldone_product {
    width: 100% !important;
  }
}
@media (min-width: 560px) {
  .two-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .two-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .two-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .two-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
.three-in-row.product-carousel .welldone_product {
  max-width: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 480px) {
  .three-in-row.product-carousel .welldone_product {
    width: 100% !important;
  }
}
@media (min-width: 560px) {
  .three-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .three-in-row.product-carousel .welldone_product {
    width: 33.333%;
  }
}
@media (min-width: 992px) {
  .three-in-row.product-carousel .welldone_product {
    width: 33.333%;
  }
}
@media (min-width: 1200px) {
  .three-in-row.product-carousel .welldone_product {
    width: 33.333%;
  }
}
@media (min-width: 560px) {
  .aside-column .three-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .aside-column .three-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .aside-column .three-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .aside-column .three-in-row.product-carousel .welldone_product {
    width: 33.333%;
  }
}
.four-in-row.product-carousel .welldone_product {
  max-width: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
/*@media (max-width: 480px) {
  .four-in-row.product-carousel .welldone_product {
    width: 100% !important;
  }
}*/
@media (min-width: 560px) {
  .four-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .four-in-row.product-carousel .welldone_product {
    width: 33.333%;
  }
}
@media (min-width: 992px) {
  .four-in-row.product-carousel .welldone_product {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .four-in-row.product-carousel .welldone_product {
    width: 25%;
  }
}
.five-in-row.product-carousel .welldone_product {
  max-width: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 480px) {
  .five-in-row.product-carousel .welldone_product {
    width: 100% !important;
  }
}
@media (min-width: 560px) {
  .five-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .five-in-row.product-carousel .welldone_product {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .five-in-row.product-carousel .welldone_product {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .five-in-row.product-carousel .welldone_product {
    width: 20%;
  }
}
.six-in-row.product-carousel .welldone_product {
  max-width: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 480px) {
  .six-in-row.product-carousel .welldone_product {
    width: 100% !important;
  }
}
@media (min-width: 560px) {
  .six-in-row.product-carousel .welldone_product {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .six-in-row.product-carousel .welldone_product {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .six-in-row.product-carousel .welldone_product {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .six-in-row.product-carousel .welldone_product {
    width: 16.667%;
  }
}
@media (max-width: 559px) {
  .products-listing.two-in-row .welldone_product {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 559px) {
  .products-listing.three-in-row .welldone_product {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 559px) {
  .products-listing.four-in-row .welldone_product {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 559px) {
  .products-listing.five-in-row .welldone_product {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 559px) {
  .products-listing.six-in-row .welldone_product {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 559px) {
  .products-listing.seven-in-row .welldone_product {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 559px) {
  .products-listing.eight-in-row .welldone_product {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .product-carousel.nav-inside {
    margin-left: -15px !important;
    margin-right: 0 !important;
  }
}
.rev_slider .scroll-to-content {
    transition: all 300ms ease-out 0s !important;
}
.rev_slider .btn--round--lg {
    width: 76px;
    height: 76px;
}
.rev_slider .btn--round--lg .icon-arrow-down { 
    font-size: 27px !important;
    line-height: 1 !important;
}

/*.welldone-category-slider .products-listing {
  margin-left: -20px;
  margin-right: -20px;
}
*/
.product-category-carousel.slick-slider {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.woocommerce-page.post-type-archive-product .product-category-carousel.slick-slider {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.woocommerce-page.post-type-archive-product .welldone-category-slider h2 {
  display: none;
}
.content.product-ups {
  padding-bottom: 80px !important;
}
.outer.open #filtersCol {
  z-index: 1000;
}
.variations_label {
  text-transform: capitalize;
}
#customer_login {
  margin-top: 80px;
}
.page.woocommerce-account #pageContent {
  background-color: #f4f4f4;
}
.quick-view .product-details {
  margin-bottom: 18px;
}
.quick-view .product-tags {
  margin-bottom: 0;
}
.quick-view .compare.button {
  display: inline-block;
  line-height: 27px;
  vertical-align: bottom;
}
.quick-view .yith-wcwl-add-to-wishlist {
  margin-top: 23px;
}
.quick-view .compare.button,
.quick-view .yith-wcwl-add-button .add_to_wishlist {
  color: #ADADAD;
  text-transform: uppercase;
}
.quick-view .compare.button:hover,
.quick-view .yith-wcwl-add-button .add_to_wishlist:hover {
  color: #212121;
  text-decoration: none;
}
.quick-view .row.variations {
  display: none;
}
.quick-view .yith-wcwl-add-to-wishlist + .clear {
  display: none;
}
.quick-view div[itemprop="description"] + div + ul + div.product-info__price {
  display: none !important;
}
.quick-view div[itemprop="description"] + div.outer {
  margin-top: 30px;
}
.content.bottom-null {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.payment_methods > li {
  list-style: none;
}
.about_paypal {
  margin-left: 15px;
}
ul.v_alert_box {
  padding-left: 0 !important;
}
ul.v_alert_box li.alert {
  list-style: none !important;
}
.wishlist-title h2 {
  padding: 0 0 30px 0;
}
.woocommerce table.wishlist_table tbody td {
  padding-left: 0;
}
.woocommerce table.wishlist_table .shopping-cart-table__product-image img {
  max-width: 80px;
  max-height: 100px;
}
.woocommerce table.wishlist_table th,
.woocommerce table.wishlist_table th span.nobr {
  font-size: 13px;
  line-height: 18px;
}
.woocommerce table.wishlist_table td.product-name {
  padding-left: 13px;
}
.woocommerce table.wishlist_table .product-stock-status h5 {
  padding: 0;
}
.yith-woo-ajax-reset-navigation .filters-col__collapse__content {
  text-align: center;
}

/*Subscribe Form Styles*/
.subscribe-form > div {
  display: block;
}
.subscribe-form .osd-subscribe > h2 {
  padding-left: 0;
  padding-bottom: 0;
}

.osd-subscribe-email-cont {
  display: inline-block;
}
.osd-subscribe-message {
  margin-top: 8px;
}
@media (max-width: 768px) {
.osd-subscribe-submit {
  margin-top: 15px;
}
}

h1.page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.308em;
    padding: 75px 0 30px;
    margin: 0;
}
.page-top + .content {
  padding-top: 0;
}

/*-------- Mega Menu ---------*/

#mega_main_menu.main-menu {
  min-height: 25px !important;
}
#mega_main_menu.first-lvl-align-right > .menu_holder > .menu_inner > ul {
  width: 780px;
  text-align: center;
}
.navbar.navbar-wd #mega_main_menu ul.mega_main_menu_ul > li > a {
  text-transform: uppercase !important;
  padding: 0;
  line-height: 20px !important;
  height: auto !important;

}
.navbar.navbar-wd #mega_main_menu ul.mega_main_menu_ul > li > a span.link_content {
    display: block;
    padding: 7px 14px 15px;
    margin-bottom: -8px;
    line-height: 20px !important;
  height: auto !important;
}
.navbar.navbar-wd #mega_main_menu ul.mega_main_menu_ul > li > a span > span {
  line-height: 20px !important;
  height: auto !important;
}

.navbar.navbar-wd .dropdown-menu > li:hover .dropdown-menu.sub-menu {
  display: block;
  left: 100%;
  margin-left: 18px;
  top: -15px;
}

#mega_main_menu > .menu_holder > .mmm_fullwidth_container {
  position: static;
}

#mega_main_menu .mega_main_menu_ul{
    position: static !important;
}

#mega_main_menu.main-menu > .menu_holder > .menu_inner > ul .mega_dropdown {
    border-radius: 0px;
}
#mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li > div > div > .mega_dropdown {
  background: #ffffff;
}

#mega_main_menu li.multicolumn_dropdown.submenu_full_width > div > div > .mega_dropdown {
    width: 100%;
}

#mega_main_menu li.multicolumn_dropdown.drop_to_right > div > div > .mega_dropdown {
    left: 0px;
    right: auto;
}
#mega_main_menu ul > li > .mega_dropdown {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}
#mega_main_menu ul > li > .mega_dropdown,
#mega_main_menu ul > li > div > div > .mega_dropdown {
    top: auto;
}
#mega_main_menu.dropdowns_trigger-hover li.multicolumn_dropdown:hover > div,
#mega_main_menu.dropdowns_trigger-hover li.multicolumn_dropdown:hover > div > div > .mega_dropdown {
  display: block;
}
#mega_main_menu li.multicolumn_dropdown:hover > div > div > .mega_dropdown {
  padding: 15px;
}
#mega_main_menu li.multicolumn_dropdown:hover > div > div > .mega_dropdown {
  padding-bottom: 0;
}
#mega_main_menu.main-menu ul li .mega_dropdown {
  font-family: inherit;
font-size: 12px;
font-weight: 400;
}
#mega_main_menu ul > li > .mega_dropdown,
#mega_main_menu ul > li > div > div > .mega_dropdown {
    /*position: absolute;*/
    margin: 0px;
    z-index: 5000;

    float: none;
    height: auto;
    visibility: visible;
    opacity: 1;
    border: 0px none;
    vertical-align: top;
}


#mega_main_menu li.multicolumn_dropdown > div > div > .mega_dropdown > li {
    float: left;
    display: inline-block;
    clear: none;
    padding: 0px 5px 20px 0;
}
#mega_main_menu.main-menu li.multicolumn_dropdown .mega_dropdown > li > .item_link {
  background: rgba(255,255,255,0);
color: #333333;
}
#mega_main_menu li.multicolumn_dropdown .mega_dropdown > li > .item_link {
    display: block;
    padding: 6px 10px 6px 0;
    margin: 0px;
    width: auto;
    height: auto;
    position: relative;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li .item_link {
    min-width: inherit;
    max-width: inherit;
}
#mega_main_menu.main-menu ul li .mega_dropdown > li > .item_link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
#mega_main_menu li.multicolumn_dropdown .mega_dropdown > li > .item_link.disable_icon > .link_content, 
#mega_main_menu ul li .mega_dropdown > li > .item_link.disable_icon > .link_content {
  margin: 0;
}
#mega_main_menu li.multicolumn_dropdown .mega_dropdown > li > .item_link > .link_content {
    display: block;
    vertical-align: middle;
}
#mega_main_menu.main-menu li .mega_dropdown .item_link *,
#mega_main_menu.main-menu li .mega_dropdown a * {
  color: #333333;
}

#mega_main_menu li.multicolumn_dropdown > div > div > .mega_dropdown > li .mega_dropdown {
    position: static;
    display: block;
    width: auto;
    box-shadow: none;
    overflow: visible !important;
    max-height: 3000px !important;
    max-width: 3000px !important;
    opacity: 1 !important;
    transform: scaleY( 1 ) !important;
}
#mega_main_menu li.default_dropdown.drop_to_right .mega_dropdown {
    /*left: 0px;*/
    right: auto;
}
#mega_main_menu ul > li > div > div > .mega_dropdown,
#mega_main_menu ul > li > .mega_dropdown {
    top: auto;
}
#mega_main_menu ul > li > div > div > .mega_dropdown a:hover {
  text-decoration: underline !important;
}
#mega_main_menu ul > li > div > div > .mega_dropdown,
#mega_main_menu ul > li > .mega_dropdown {
    /*position: absolute;*/
    margin: 8px 0 0;
    z-index: 5000;
    /*top: 100%;*/
    float: none;
    height: auto;
    visibility: visible;
    /*opacity: 1;*/
    border: 0px none;
    vertical-align: top;
}
#mega_main_menu ul > li ul {
    text-align: left;
}
#mega_main_menu li.multicolumn_dropdown > div > div > .mega_dropdown > li .mega_dropdown > li {
    display: block;
    width: 100%;
}
#mega_main_menu li.columns1[class*="_dropdown"] > div > div > .mega_dropdown > *, #mega_main_menu li.columns2[class*="_dropdown"] > .mega_dropdown > :nth-child(2n+3), #mega_main_menu li.columns3[class*="_dropdown"] > .mega_dropdown > :nth-child(3n+4), #mega_main_menu li.columns4[class*="_dropdown"] > .mega_dropdown > :nth-child(4n+5), #mega_main_menu li.columns5[class*="_dropdown"] > .mega_dropdown > :nth-child(5n+6), #mega_main_menu li.columns6[class*="_dropdown"] > .mega_dropdown > :nth-child(6n+7), #mega_main_menu li.columns7[class*="_dropdown"] > .mega_dropdown > :nth-child(7n+8), #mega_main_menu li.columns8[class*="_dropdown"] > .mega_dropdown > :nth-child(8n+9), #mega_main_menu li.columns9[class*="_dropdown"] > .mega_dropdown > :nth-child(9n+10), #mega_main_menu li.columns10[class*="_dropdown"] > .mega_dropdown > :nth-child(10n+11) {
    clear: both;
}
#mega_main_menu li.default_dropdown > .mega_dropdown > li {
    float: none;
    /*width: 100%;*/
}
#mega_main_menu li.default_dropdown > ul > li {
    position: relative;
    height: auto;
    /*float: none;*/
    /*width: 100%;*/
    margin: 0px;
    padding: 0px;
    /*display: block;*/
    overflow: visible;
}

#mega_main_menu li.multicolumn_dropdown .mega_dropdown li.default_dropdown > .mega_dropdown > li > .item_link {
    border-width: 0px;
}
#mega_main_menu.main-menu li.default_dropdown > .mega_dropdown > li > .item_link {
    border-color: rgba(255,255,255,0);
}
#mega_main_menu.main-menu li.default_dropdown .mega_dropdown > li > .item_link,
#mega_main_menu.main-menu li.multicolumn_dropdown .mega_dropdown > li > .item_link {
  /*background: rgba(255,255,255,0);*/
  color: #333333;
}

#mega_main_menu .mega_main_menu_ul > li.default_dropdown > .mega_dropdown,
#mega_main_menu .mega_main_menu_ul > li.default_dropdown > .mega_dropdown > li > ul  {
    margin-top: 7px;
    padding: 10px 18px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

#mega_main_menu li.default_dropdown > .mega_dropdown > li:last-child > .item_link {
    border-width: 0px;
    border-style: none;
}
#mega_main_menu.main-menu ul li .mega_dropdown > li > .item_link {
  font-family: inherit;
font-size: 14px;
font-weight: 400;
}
#mega_main_menu li.multicolumn_dropdown .mega_dropdown > li > .item_link.disable_icon > .link_content, 
#mega_main_menu ul li .mega_dropdown > li > .item_link.disable_icon > .link_content {
  margin: 0;
}
#mega_main_menu li.default_dropdown > .mega_dropdown > li > .item_link {
  margin: 0 -18px;
  padding: 3px 18px;
}
#mega_main_menu li.multicolumn_dropdown .mega_dropdown > li > .item_link > .link_content {
    display: block;
    vertical-align: middle;
}
#mega_main_menu li.default_dropdown > .mega_dropdown > li > .item_link .link_content {
    padding: 0px;
    vertical-align: middle;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}



#mega_main_menu,
#mega_main_menu .menu_holder {
  position: static!important;
}

#mega_main_menu ul > li > .mega_dropdown {
  top: auto;
}
#mega_main_menu li.multicolumn_dropdown:hover > .dropdown-menu.megamenu,
#mega_main_menu li.multicolumn_dropdown:hover > .dropdown-menu.megamenu .mega_dropdown {
  display: block;
}

#mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right.submenu_full_width > div > div > .mega_dropdown {
    padding-top: 25px !important;
    padding-left: 0 !important;
    padding-bottom: 20px !important;
    padding-right: 400px !important;
}
#mega_main_menu.main-menu .caret.caret--dots {
  top: -12px;
  margin: 0 auto;
  font-size: 9px !important;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 20px !important;
  color: #d3d3d3 !important;
}


@media (min-width: 768px) {
  #mega_main_menu #mega_main_menu_ul > li.menu-item-has-children > a::before {
      border-color: rgba(204, 204, 204, 0) !important;
      border-bottom-color: #e7e7e7 !important;
      border-width: 9px !important;
      margin-left: -9px;
  }
  #mega_main_menu #mega_main_menu_ul > li.menu-item-has-children > a::after {
      border-color: rgba(255, 255, 255, 0) !important;
      border-bottom-color: #ffffff !important;
  }
  #mega_main_menu #mega_main_menu_ul > li.menu-item-has-children > a::after {
      border-width: 8px !important;
      margin-left: -8px;
  }
}
#mega_main_menu #mega_main_menu_ul > li.menu-item-has-children > a::before,
#mega_main_menu #mega_main_menu_ul > li.menu-item-has-children > a::after {
    top: auto;
    bottom: -8px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
}
#mega_main_menu #mega_main_menu_ul > li.menu-item-has-children:hover > a::before,
#mega_main_menu #mega_main_menu_ul > li.menu-item-has-children:hover > a::after {
    opacity: 1;
}

#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__top-block li, 
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__bottom-block li {
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: 20px !important;
    width: auto !important;
}
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__top-block,
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__bottom-block {
  padding-bottom: 9px;
}
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__top-block li,
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__bottom-block li {
  font-family: inherit !important;
}
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__top-block .disable_icon,
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__bottom-block .disable_icon {
  display: none;
}
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__top-block li > a > span,
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__bottom-block li > a > span {
  padding: 0 10px 0 20px !important;
}
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__top-block li > a, 
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__top-block li > a span, 
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__bottom-block li > a,
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__bottom-block li > a span {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 15px !important;
  line-height: 27px !important;
  line-height: normal;
}
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__top-block li > a > i,
#mega_main_menu ul > li > div > div > .mega_dropdown .megamenu__columns__bottom-block li > a > i {
  margin-top: -15px !important;
  font-size: 24px !important;
  line-height: 24px !important;
  width: 31px !important;
  height: 25px !important;
  padding-right: 7px;
}

#mega_main_menu ul > li > div > div > .mega_dropdown .level-menu.level1 > .item_link * {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

#mega_main_menu .mega_main_menu_ul > li.default_dropdown > .mega_dropdown,
#mega_main_menu .mega_main_menu_ul > li.default_dropdown > .mega_dropdown > li > ul {
  border-bottom-color: #536dfe;
}
@media (max-width: 991px) {
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right.submenu_full_width > div > div > .mega_dropdown {
    padding-right: 0 !important;
  }
}
@media (max-width: 768px) {
  #mega_main_menu .mobile_button * {
    color: #ffffff !important;
  }
  #mega_main_menu .mobile_toggle .mobile_button {
    display: none !important;
  }
  #slidemenu .slidemenu-close {
    top: 0;
  }

  #mega_main_menu.first-lvl-align-right > .menu_holder > .menu_inner > ul {
    width: 100%;
  }
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li {
      float: none;
      display: block;
      width: 100%;
      position: relative !important;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #767676;
      text-align: left;
  }
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li > .item_link {
      padding: 14px 25px;
      margin-bottom: 0;
      text-transform: uppercase;
      background-color: #5c5c5c !important;
  }
  #mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > .link_content{
    float: none;
    padding: 0 !important;
    margin-bottom: 0 !important;
    color: #ffffff !important;
  }
  #mega_main_menu.main-menu .caret.caret--dots {
      position: absolute;
      right: 0;
      top: 50%;
      padding: 15px 15px 25px;
      margin: -23px 0 0 0;
  }
  #mega_main_menu.main-menu .mega_dropdown *,
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li > .item_link,
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li.current-menu-item > .item_link *,
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li > .item_link *,
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li:hover > .item_link * {
    color: #ffffff !important;
  }

  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li:hover > .item_link {
    background-color: #000000 !important;
    color: #ffffff !important;
  }
  #mega_main_menu .dropdown-menu.megamenu,
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown, 
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown {
    background-color: #5c5c5c;
  }
  #mega_main_menu .mega_main_menu_ul > li.default_dropdown > .mega_dropdown, 
  #mega_main_menu .mega_main_menu_ul > li.default_dropdown > .mega_dropdown > li > ul {
    border-bottom: 0;
  }
  #mega_main_menu.main-menu ul .mega_dropdown > li > .item_link:hover {
    background-color: transparent;
  }
  #mega_main_menu.main-menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right.submenu_full_width > div > div > .mega_dropdown {
    padding-top: 25px !important;
    padding-left: 0 !important;
    padding-bottom: 20px !important;
    background-color: #5c5c5c !important;
    background-image: none !important;
  }
  #mega_main_menu li.multicolumn_dropdown > div > div > .mega_dropdown > li {
    float: none;
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .product-carousel .welldone_product {
    padding-left: 0 !important;
  }
  .product-carousel .slick-next {
      right: 21px !important;
  }
  .footer__column-links .mobile-collapse__title + ul {
    display: none;
    padding-bottom: 15px !important;
  }
  .mobile-collapse.open .mobile-collapse__content,
  .footer__column-links .mobile-collapse.open .mobile-collapse__title + ul {
      display: block;
  }
}
#slidemenu .slidemenu-close {
  z-index: 10001;
}
/*------------- End Main Menu -------------*/

.sidebar li.cat-parent ul.children {
  padding: 5px 0px 0px 20px;
}

.blog .pagination-container {
  overflow: hidden;
  padding: 50px 0;
}


.quick-view .variations_form.cart,
.quick-view .single_variation_wrap {
  display: none;
}

.quick-view .product_meta.welldone + .addthis_sharing_toolbox {
  margin-top: 20px;
}
.single-post .content--parallax--short {
  padding: 30px 0 25px !important;
}
.posts-isotope article.format-video .entry-wrapper,
.posts-isotope article.format-audio .entry-wrapper,
.posts-isotope article.format-aside .entry-wrapper,
.posts-isotope article.format-quote .entry-wrapper,
.posts-isotope article.format-standard .entry-wrapper {
  margin-top: 30px;
}
.posts-isotope article.format-video .post__image + .entry-wrapper,
.posts-isotope article.format-audio .post__image + .entry-wrapper,
.posts-isotope article.format-aside .post__image + .entry-wrapper,
.posts-isotope article.format-quote .post__image + .entry-wrapper,
.posts-isotope article.format-standard .post__image + .entry-wrapper {
  margin-top: 0;
}
.posts-isotope .format-quote,
.posts-isotope .post.format-aside {
  border-left: 0;
  padding: 20px 20px 6.66666667px;
}
.posts-isotope .post.format-aside p {
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
}
/*.posts-isotope .post .post__title {
  font-weight: 300;
}*/
.posts-isotope .post.format-quote blockquote {
  padding-left: 0;
}
.posts-isotope .post.format-quote blockquote::after {
  display: none;
}
.posts-isotope .post--column.format-quote .post__meta::after {
  border-top-color: #556065;
}
.posts-isotope + .pagination-container {
  text-align: center;
}
.posts-isotope + .pagination-container .pagination {
  float: none;
  vertical-align: middle;
  margin-left: 15px;
}
.posts-isotope + .pagination-container .pagination-info {
  margin-right: 15px;
}
.product-desc-list li,
.single-post .row.comments li {
  list-style: none;
}
#wp-calendar {
  margin-bottom: 45px;
}
.page-numbers.dots:before {
  position:absolute; top:10px;
}
.shopping-cart-table .product-cats {
  text-align: left;
  display: none;
}
@media (max-width: 768px) {
  .blog_slider {
    padding-bottom: 60px;
  }
  .button-shop-now.rev-btn.btn.btn--wd {
    padding: 12px 20px;
    font-size: 14px;
    min-width: 120px !important;
    text-align: center;
  }
}
.testimonials__item__text blockquote {
    padding: 0;
    margin: 0;
    font-size: inherit;
    border-left: 0;
    font-style: italic;
}
.testimonials__item__text blockquote:before {
  content: "";
}
.search-results .welldone_blog {
  padding-bottom: 50px;
}
.search-results #blog-item-container {
  padding-bottom: 35px;
}