body#tinymce.wp-editor {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  margin: 10px; 
}
 
body#tinymce.wp-editor a {
    color: #4CA6CF;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor .h1 {
  font-size: 36px;
}
body#tinymce.wp-editor h2,
body#tinymce.wp-editor .h2 {
  font-size: 30px;
}
body#tinymce.wp-editor h3,
body#tinymce.wp-editor .h3 {
  font-size: 24px;
}
body#tinymce.wp-editor h4,
body#tinymce.wp-editor .h4 {
  font-size: 18px;
}
body#tinymce.wp-editor h5,
body#tinymce.wp-editor .h5 {
  font-size: 14px;
}
body#tinymce.wp-editor h6,
body#tinymce.wp-editor .h6 {
  font-size: 12px;
}

body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol {
  margin-top: 0;
  margin-bottom: 10px;
}
body#tinymce.wp-editor ul ul,
body#tinymce.wp-editor ol ul,
body#tinymce.wp-editor ul ol,
body#tinymce.wp-editor ol ol {
  margin-bottom: 0;
}
body#tinymce.wp-editor .list-unstyled {
  padding-left: 0;
  list-style: none;
}
body#tinymce.wp-editor .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
body#tinymce.wp-editor .list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
body#tinymce.wp-editor dl {
  margin-top: 0;
  margin-bottom: 20px;
}
body#tinymce.wp-editor dt,
body#tinymce.wp-editor dd {
  line-height: 1.42857143;
}
body#tinymce.wp-editor dt {
  font-weight: bold;
}
body#tinymce.wp-editor dd {
  margin-left: 0;
}